force-app/main/default/flows/AlterarProprietarioPedido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AttNovoProp</name>
        <label>Att Novo Prop</label>
        <locationX>500</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>OrderS.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PesquisaUser.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualReg</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Alterar Propriet치rio Pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alterar Propriet치rio Pedido</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>AtualReg</name>
        <label>Atual Reg</label>
        <locationX>505</locationX>
        <locationY>429</locationY>
        <inputReference>OrderS</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ProprietarioPedido</name>
        <label>Propriet치rio Pedido</label>
        <locationX>499</locationX>
        <locationY>180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AttNovoProp</targetReference>
        </connector>
        <fields>
            <name>PesquisaUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UsuarioProp__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Novo Propriet치rio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ProprietarioPedido</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
