force-app/main/default/flows/Atualiza_cep_da_conta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Atualiza_cep_representante</name>
        <label>Atualiza cep representante</label>
        <locationX>314</locationX>
        <locationY>314</locationY>
        <actionName>RepresentanteUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Atualiza_representante</targetReference>
        </connector>
        <inputParameters>
            <name>ceps</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Atualiza_transportadora_cep</name>
        <label>Atualiza transportadora cep</label>
        <locationX>578</locationX>
        <locationY>314</locationY>
        <actionName>TransportadoraUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Atualiza_transportadora</targetReference>
        </connector>
        <inputParameters>
            <name>ceps</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AtualizaCep</name>
        <label>AtualizaCep</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <actionName>AccountUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Atualiza_conta</targetReference>
        </connector>
        <inputParameters>
            <name>ceps</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Objeto</name>
        <label>Objeto</label>
        <locationX>446</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Conta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Objeto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>conta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaCep</targetReference>
            </connector>
            <label>Conta</label>
        </rules>
        <rules>
            <name>Representante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Objeto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>representante</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_cep_representante</targetReference>
            </connector>
            <label>Representante</label>
        </rules>
        <rules>
            <name>Transportadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Objeto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>transportadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_transportadora_cep</targetReference>
            </connector>
            <label>Transportadora</label>
        </rules>
    </decisions>
    <interviewLabel>Atualiza cep da conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza cep da conta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_conta</name>
        <label>Atualiza conta</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <inputReference>AtualizaCep</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_representante</name>
        <label>Atualiza representante</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <inputReference>Atualiza_cep_representante</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_transportadora</name>
        <label>Atualiza transportadora</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <inputReference>Atualiza_transportadora_cep</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Objeto</targetReference>
        </connector>
        <object>Preenche_CEP__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
