force-app/main/default/flows/Consultar_Lead_RF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BuscarReceitaFederalSintegra</name>
        <label>Buscar dados da Receita Federal no Sintegra</label>
        <locationX>368</locationX>
        <locationY>224</locationY>
        <actionName>DW_SintegraWSServiceFlowRF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CNPJ_trouxe_resultado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>ConfirmeCNPJ</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CNPJ_trouxe_resultado</name>
        <label>CNPJ trouxe resultado?</label>
        <locationX>543</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>errorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TrouxeResultado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarReceitaFederalSintegra.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscarReceitaFederalSintegra.status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Lead</targetReference>
            </connector>
            <label>Trouxe resultado</label>
        </rules>
    </decisions>
    <formulas>
        <name>CNPJLIMPO</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!Obter_Documento_Lead.CNPJ__c},&apos;.&apos; , &quot;&quot;),&apos;-&apos; , &quot;&quot;),&apos;/&apos;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ComplementoForm</name>
        <dataType>String</dataType>
        <expression>LEFT({!BuscarReceitaFederalSintegra.complemento},50)</expression>
    </formulas>
    <formulas>
        <name>formReceita</name>
        <dataType>String</dataType>
        <expression>LEFT({!BuscarReceitaFederalSintegra.logradouro} &amp; &apos;, &apos; &amp; {!BuscarReceitaFederalSintegra.numero} &amp;&apos; , &apos; &amp; IF({!ComplementoForm} &lt;&gt; null &amp;&amp; NOT(CONTAINS({!ComplementoForm},&quot;*&quot;)) , {!ComplementoForm}, &apos;S/N&apos;) &amp;  &apos;, &apos; &amp; {!BuscarReceitaFederalSintegra.bairro}, 80)</expression>
    </formulas>
    <formulas>
        <name>Nome</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!BuscarReceitaFederalSintegra.nome}),
{!Obter_Documento_Lead.Company}, 
{!BuscarReceitaFederalSintegra.nome}
)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Consultar Lead RF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consultar Lead RF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>955</locationX>
        <locationY>218</locationY>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>formReceita</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obter_Documento_Lead</name>
        <label>Obter Documento Lead</label>
        <locationX>89</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarConta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Lead</name>
        <label>Atualizar Lead</label>
        <locationX>763</locationX>
        <locationY>88</locationY>
        <faultConnector>
            <targetReference>errorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Documento_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CapitalSocial_c__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.capital_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAberturaEmpresa__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.abertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaturezaIntegracao_c__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porte__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.porte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sigla_natureza_juridica__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.sigla_natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacao__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em aberto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>formReceita</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CriarConta</name>
        <label>CriarConta</label>
        <locationX>222</locationX>
        <locationY>227</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BuscarReceitaFederalSintegra</targetReference>
        </connector>
        <fields>
            <name>ConfirmeCNPJ</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CNPJLIMPO</elementReference>
            </defaultValue>
            <fieldText>Confirme o CNPJ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>infoCriarConta</name>
            <fieldText>&lt;p&gt;*Para criar uma conta, insira o &lt;b&gt;CNPJ &lt;/b&gt;acima para realizar a consulta na receita federal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>458</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>naoExisteCNPJ</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Validação&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Não existe dados para este CNPJ informado, troque-o para um existente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen_0</name>
        <label>errorScreen</label>
        <locationX>772</locationX>
        <locationY>448</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>naoExisteCNPJ_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obter_Documento_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
