force-app/main/default/flows/ConsultaSintegra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SintegraWSServiceFlow2</name>
        <label>SintegraWSServiceFlow2</label>
        <locationX>970</locationX>
        <locationY>267</locationY>
        <actionName>DW_SintegraWSServiceFlowRF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConsultaNula_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>consultaCnpjComErro_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>cnpjDefinitivo</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SintegraWSServiceFlowSintegra2</name>
        <label>SintegraWSServiceFlowSintegra2</label>
        <locationX>944</locationX>
        <locationY>23</locationY>
        <actionName>DW_SintegraWSServiceFlowSintegra</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConsultaNula</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>cnpjDefinitivo</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SintegraWSServiceFlowSN2</name>
        <label>SintegraWSServiceFlowSN2</label>
        <locationX>801</locationX>
        <locationY>564</locationY>
        <actionName>DW_SintegraWSServiceFlowSN</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConsultaNula_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>consultaCnpjComErro_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>cnpjDefinitivo</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SintegraWSServiceFlowSuframa</name>
        <label>SintegraWSServiceFlowSuframa</label>
        <locationX>533</locationX>
        <locationY>684</locationY>
        <actionName>DW_SintegraWSServiceFlowSuframa</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConsultaNula_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>consultaCnpjComErro_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>cnpjDefinitivo</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>EscolhaNao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>escolhaSim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <choices>
        <name>integracaoReceitaFederal</name>
        <choiceText>Receita federal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Receita federal</stringValue>
        </value>
    </choices>
    <choices>
        <name>integracaoSimples</name>
        <choiceText>Simples nacional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Simples nacional</stringValue>
        </value>
    </choices>
    <choices>
        <name>integracaoSintegra</name>
        <choiceText>Sintegra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sintegra</stringValue>
        </value>
    </choices>
    <choices>
        <name>integracaoSuframa</name>
        <choiceText>Suframa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suframa</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ConsultaNula</name>
        <label>Consulta nula?</label>
        <locationX>1044</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>CriarRegistroConsultaSintegra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integrado</defaultConnectorLabel>
        <rules>
            <name>ResultadoNulo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSintegra2.code</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSintegra2.code</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSintegra2.code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>consultaCnpjComErro</targetReference>
            </connector>
            <label>Resultado nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConsultaNula_0</name>
        <label>Consulta nula?</label>
        <locationX>1137</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Criar_registro_de_receita_federal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integrado</defaultConnectorLabel>
        <rules>
            <name>ResultadoNulo_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SintegraWSServiceFlow2.status</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SintegraWSServiceFlow2.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>consultaCnpjComErro_0</targetReference>
            </connector>
            <label>Resultado nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConsultaNula_0_0</name>
        <label>Consulta nula?</label>
        <locationX>907</locationX>
        <locationY>769</locationY>
        <defaultConnector>
            <targetReference>Criar_registro_de_simples_nacional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integrado</defaultConnectorLabel>
        <rules>
            <name>ResultadoNulo_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSN2.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSN2.status</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSN2.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>consultaCnpjComErro_0_0</targetReference>
            </connector>
            <label>Resultado nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConsultaNula_0_0_0</name>
        <label>Consulta nula?</label>
        <locationX>525</locationX>
        <locationY>843</locationY>
        <defaultConnector>
            <targetReference>Criar_registro_suframa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integrado</defaultConnectorLabel>
        <rules>
            <name>ResultadoNulo_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSuframa.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSuframa.status</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SintegraWSServiceFlowSuframa.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>consultaCnpjComErro_0_0_0</targetReference>
            </connector>
            <label>Resultado nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deseja_alterar</name>
        <label>Deseja alterar</label>
        <locationX>1502</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>AtualizarConta_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AlterarEndereco</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_puxar_os_dados_de_endere_o_pra_conta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>escolhaSim</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deseja_puxar_os_dados_de_endere_o_pra_conta_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>escolhaSim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarConta</targetReference>
            </connector>
            <label>Alterar Endereço</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deseja_alterar_0</name>
        <label>Deseja alterar</label>
        <locationX>1595</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>AtualizarConta_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AlterarEndereco_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_puxar_os_dados_de_endere_o_pra_conta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>escolhaSim</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deseja_puxar_os_dados_de_endere_o_pra_conta_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>escolhaSim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarConta_0</targetReference>
            </connector>
            <label>Alterar Endereço</label>
        </rules>
    </decisions>
    <decisions>
        <name>QualConsulta</name>
        <label>Qual consulta</label>
        <locationX>742</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ConsultaSintegra</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelecioneIntegracao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>integracaoSintegra</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelecioneIntegracao_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>integracaoSintegra</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SintegraWSServiceFlowSintegra2</targetReference>
            </connector>
            <label>Consulta sintegra</label>
        </rules>
        <rules>
            <name>ConsultaReceita</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelecioneIntegracao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>integracaoReceitaFederal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelecioneIntegracao_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>integracaoReceitaFederal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SintegraWSServiceFlow2</targetReference>
            </connector>
            <label>Consulta receita</label>
        </rules>
        <rules>
            <name>ConsultaSimples</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelecioneIntegracao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>integracaoSimples</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelecioneIntegracao_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>integracaoSimples</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SintegraWSServiceFlowSN2</targetReference>
            </connector>
            <label>Consulta simples</label>
        </rules>
        <rules>
            <name>Consulta_suframa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelecioneIntegracao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>integracaoSuframa</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelecioneIntegracao_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>integracaoSuframa</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SintegraWSServiceFlowSuframa</targetReference>
            </connector>
            <label>Consulta suframa</label>
        </rules>
    </decisions>
    <decisions>
        <name>tipoRegistroConta</name>
        <label>tipoRegistroConta</label>
        <locationX>50</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>TelaSelecionarConsulta_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0126e000000vLO4AAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaSelecionarConsulta</targetReference>
            </connector>
            <label>cliente</label>
        </rules>
    </decisions>
    <formulas>
        <name>cnpjDefinitivo</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!ConfirmeCNPJ})) , {!ConfirmeCNPJ} ,{!ConfirmeCNPJ_0} )</expression>
    </formulas>
    <formulas>
        <name>CNPJLIMPO</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!ObterConta.Documento__c},&apos;.&apos; , &quot;&quot;),&apos;-&apos; , &quot;&quot;),&apos;/&apos;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Complemento50</name>
        <dataType>String</dataType>
        <expression>LEFT({!SintegraWSServiceFlow2.complemento},50)</expression>
    </formulas>
    <formulas>
        <name>Complemento50Rec</name>
        <dataType>String</dataType>
        <expression>LEFT({!SintegraWSServiceFlow2.complemento},50)</expression>
    </formulas>
    <formulas>
        <name>EnderecoReceita</name>
        <dataType>String</dataType>
        <expression>LEFT({!formEnderecoReceita},50)</expression>
    </formulas>
    <formulas>
        <name>EnderecoSintegra</name>
        <dataType>String</dataType>
        <expression>LEFT({!formEnderecoSintegra},50)</expression>
    </formulas>
    <formulas>
        <name>formEnderecoReceita</name>
        <dataType>String</dataType>
        <expression>LEFT({!SintegraWSServiceFlow2.logradouro},50) &amp; &apos;, &apos; &amp; {!SintegraWSServiceFlow2.numero} &amp;&apos; , &apos; &amp; IF({!Complemento50} &lt;&gt; null &amp;&amp; NOT(CONTAINS({!Complemento50},&quot;*&quot;)) , {!Complemento50}, &apos;S/N&apos;) &amp;  &apos;, &apos; &amp; {!SintegraWSServiceFlow2.bairro}</expression>
    </formulas>
    <formulas>
        <name>formEnderecoSintegra</name>
        <dataType>String</dataType>
        <expression>{!SintegraWSServiceFlowSintegra2.logradouro} &amp; &apos;, &apos; &amp; {!SintegraWSServiceFlowSintegra2.numero} &amp;&apos; , &apos; &amp;  &apos;S/N&apos; &amp;  &apos;, &apos; &amp; {!SintegraWSServiceFlowSintegra2.bairro}</expression>
    </formulas>
    <formulas>
        <name>logradouro50</name>
        <dataType>String</dataType>
        <expression>LEFT({!SintegraWSServiceFlow2.logradouro},50)</expression>
    </formulas>
    <formulas>
        <name>NomeFantasiaSimples</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(NOT(ISBLANK({!ObterConta.NomeFantasia__c})), NOT(ISNULL({!ObterConta.NomeFantasia__c}))), 
{!ObterConta.NomeFantasia__c},
  IF(
    NOT(ISBLANK({!SintegraWSServiceFlowSintegra2.nome_empresarial})), 
  {!SintegraWSServiceFlowSintegra2.nome_empresarial},
    IF(
      NOT(ISBLANK({!SintegraWSServiceFlow2.fantasia})), 
      {!SintegraWSServiceFlow2.fantasia},
      IF(
        NOT(ISBLANK({!SintegraWSServiceFlowSN2.nome_empresarial})), 
        {!SintegraWSServiceFlowSN2.nome_empresarial}, 
        &apos;&apos;
      )
   )  
  )
)</expression>
    </formulas>
    <interviewLabel>Consulta Sintegra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consulta sintegra</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_registro_de_receita_federal</name>
        <label>Criar registro de receita federal</label>
        <locationX>1332</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>Deseja_alterar_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Abertura__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.abertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CapitalSocial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.capital_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.extra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoSituacao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.motivo_situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaturezaIntegracao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.numero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rua__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.logradouro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiglaNaturezaJuridica__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.sigla_natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoLogradouro__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.tipo_logradouro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.uf</elementReference>
            </value>
        </inputAssignments>
        <object>ConsultaSintegra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_registro_de_simples_nacional</name>
        <label>Criar registro de simples nacional</label>
        <locationX>1181</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>AtualizarConta_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agendamentos__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.agendamentos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventosFuturosSimei__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.eventos_futuros_simples_simei</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventosFuturosSimplesNacional__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simples_nacional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoSimeiAnterior__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simples_nacional_anterior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoSimei__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simei</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoSimplesNacionalAnterior__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simples_nacional_anterior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoSimplesNacional__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simples_nacional</elementReference>
            </value>
        </inputAssignments>
        <object>ConsultaSintegra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Criar_registro_suframa</name>
        <label>Criar registro suframa</label>
        <locationX>536</locationX>
        <locationY>1006</locationY>
        <connector>
            <targetReference>Atualizar_Conta</targetReference>
        </connector>
        <inputAssignments>
            <field>AtividadePrincipal__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.atividade_principal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AtividadeSecundaria__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.atividade_secundaria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataValidadeCadastral__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.data_validade_cadastral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnderecoEletronico__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.endereco_eletronico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incentivo1__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.incentivo_fiscal1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incentivo2__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.incentivo_fiscal2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InscricaoSuframa__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.inscricao_suframa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaturezaJuridicaSuframa__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RazaoSocial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.razao_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoCadastral__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.situacao_cadastral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URLComprovante__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.url_comprovante</elementReference>
            </value>
        </inputAssignments>
        <object>ConsultaSintegra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CriarRegistroConsultaSintegra</name>
        <label>Criar registro de Consulta Sintegra</label>
        <locationX>1334</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>Deseja_alterar</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataFimAtividade__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.data_fim_atividade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataInicioAtividade__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.data_inicio_atividade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataSituacaoCadastral__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.data_situacao_cadastral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformacaoIEDestinatario__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.informacao_ie_como_destinatario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InscricaoEstadual__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.inscricao_estadual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeEmpresarial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.nome_empresarial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.nome_fantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.numero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porte__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.porte_empresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegimeTributacao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.regime_tributacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rua__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.logradouro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoCNPJ__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.situacao_cnpj</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoInscricaoEstadual__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.situacao_ie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoInscricao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.tipo_inscricao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.uf</elementReference>
            </value>
        </inputAssignments>
        <object>ConsultaSintegra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterConta</name>
        <label>Obter conta</label>
        <locationX>230</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tipoRegistroConta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Conta</name>
        <label>Atualizar Conta</label>
        <locationX>536</locationX>
        <locationY>1151</locationY>
        <faultConnector>
            <targetReference>errorScreen_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterConta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AtividadePrincipal__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.atividade_principal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AtividadeSecundaria__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.atividade_secundaria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataValidadeCadastral__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.data_validade_cadastral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnderecoEletronico__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.endereco_eletronico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incentivo1__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.incentivo_fiscal1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incentivo2__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.incentivo_fiscal2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InscricaoSuframa__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.inscricao_suframa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaturezaJuridicaSuframa__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RazaoSocial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.razao_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoCadastral__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.situacao_cadastral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URLComprovante__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSuframa.url_comprovante</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarConta</name>
        <label>Atualizar conta</label>
        <locationX>1835</locationX>
        <locationY>57</locationY>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterConta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AutomacaoSintegra__c</field>
            <value>
                <stringValue>Executado com sucesso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>formEnderecoSintegra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoMunicipioCobranca__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.codigo_municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoMunicipio__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.codigo_municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataFimAtividade__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.data_fim_atividade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataInicioAtividade__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.data_inicio_atividade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformacaoIEDestinatario__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.informacao_ie_como_destinatario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InscricaoEstadual__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.inscricao_estadual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaoConsultarCepCorreio__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeEmpresarial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.nome_empresarial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>NomeFantasiaSimples</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>formEnderecoSintegra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoCNPJ__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.situacao_cnpj</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoInscricaoEstadual__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.situacao_ie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoInscricao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.tipo_inscricao</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarConta_0</name>
        <label>Atualizar conta</label>
        <locationX>1853</locationX>
        <locationY>471</locationY>
        <faultConnector>
            <targetReference>errorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterConta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AutomacaoReceita__c</field>
            <value>
                <stringValue>Executado com sucesso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>formEnderecoReceita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CapitalSocial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.capital_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoMunicipioCobranca__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.codigo_municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoMunicipio__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.codigo_municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>Complemento50</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAberturaEmpresa__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.abertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.extra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoSituacao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.motivo_situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaoConsultarCepCorreio__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaturezaIntegracao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeEmpresarial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>NomeFantasiaSimples</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porte__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.porte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>formEnderecoReceita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiglaNaturezaJuridica__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.sigla_natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoEspecial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.situacao_especial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoLogradouro__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.tipo_logradouro</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarConta_0_0</name>
        <label>Atualizar conta</label>
        <locationX>1394</locationX>
        <locationY>658</locationY>
        <faultConnector>
            <targetReference>errorScreen_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterConta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AutomacaoSimples__c</field>
            <value>
                <stringValue>Executado com sucesso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventosFuturosSimei__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.eventos_futuros_simples_simei</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventosFuturosSimplesNacional__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.eventos_futuros_simples_nacional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>NomeFantasiaSimples</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaSimplesNacional__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simples_nacional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoSimeiAnteriror__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simei_anterior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoSimei__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simei</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoSimplesNacionalAnterior__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.situacao_simples_nacional_anterior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusIntegracao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSN2.OptanteSN</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarConta_0_0_0</name>
        <label>Atualizar conta</label>
        <locationX>1864</locationX>
        <locationY>294</locationY>
        <faultConnector>
            <targetReference>errorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterConta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AutomacaoSintegra__c</field>
            <value>
                <stringValue>Executado com sucesso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataFimAtividade__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.data_fim_atividade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataInicioAtividade__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.data_inicio_atividade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformacaoIEDestinatario__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.informacao_ie_como_destinatario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InscricaoEstadual__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.inscricao_estadual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeEmpresarial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.nome_empresarial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>NomeFantasiaSimples</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoCNPJ__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.situacao_cnpj</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoInscricaoEstadual__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.situacao_ie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoInscricao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlowSintegra2.tipo_inscricao</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarConta_0_0_0_0</name>
        <label>Atualizar conta</label>
        <locationX>1853</locationX>
        <locationY>760</locationY>
        <faultConnector>
            <targetReference>errorScreen_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterConta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AutomacaoReceita__c</field>
            <value>
                <stringValue>Executado com sucesso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CapitalSocial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.capital_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>Complemento50Rec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAberturaEmpresa__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.abertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataSituacaoEspecial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.situacao_especial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.extra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoSituacao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.motivo_situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaturezaIntegracao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeEmpresarial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>NomeFantasiaSimples</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porte__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.porte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiglaNaturezaJuridica__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.sigla_natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoEspecial__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.situacao_especial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacao__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoLogradouro__c</field>
            <value>
                <elementReference>SintegraWSServiceFlow2.tipo_logradouro</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>consultaCnpjComErro</name>
        <label>consultaCnpjComErro</label>
        <locationX>1249</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>consultaSemDados</name>
            <fieldText>&lt;p&gt;&lt;b&gt;O CNPJ informado não possui Sintegra! Informe outro CNPJ para realizar a consulta.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>consultaCnpjComErro_0</name>
        <label>consultaCnpjComErro</label>
        <locationX>1201</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>consultaSemDados_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Não foi possível encontrar dados para este CNPJ!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>consultaCnpjComErro_0_0</name>
        <label>consultaCnpjComErro</label>
        <locationX>965</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>consultaSemDados_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;O CNPJ informado não possui simples nacional! Informe outro CNPJ para realizar a consulta.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>consultaCnpjComErro_0_0_0</name>
        <label>consultaCnpjComErro</label>
        <locationX>760</locationX>
        <locationY>751</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>consultaSemDados_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;O CNPJ informado não possui suframa! Informe outro CNPJ para realizar a consulta.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>1387</locationX>
        <locationY>42</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMensagem</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen_0</name>
        <label>errorScreen</label>
        <locationX>1446</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMensagem_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen_0_0_0</name>
        <label>errorScreen</label>
        <locationX>1310</locationX>
        <locationY>908</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMensagem_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaSelecionarConsulta</name>
        <label>Tela pra selecionar a consulta</label>
        <locationX>198</locationX>
        <locationY>503</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>QualConsulta</targetReference>
        </connector>
        <fields>
            <name>TelaSelecionarConsulta_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaSelecionarConsulta_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelecioneIntegracao</name>
                    <choiceReferences>integracaoSintegra</choiceReferences>
                    <choiceReferences>integracaoReceitaFederal</choiceReferences>
                    <choiceReferences>integracaoSimples</choiceReferences>
                    <choiceReferences>integracaoSuframa</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Selecione a integração:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaSelecionarConsulta_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deseja_puxar_os_dados_de_endere_o_pra_conta</name>
                    <choiceReferences>escolhaSim</choiceReferences>
                    <choiceReferences>EscolhaNao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>escolhaSim</defaultSelectedChoiceReference>
                    <fieldText>Deseja substituir os dados de endereço da conta?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>SelecioneIntegracao</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>integracaoReceitaFederal</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>SelecioneIntegracao</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>integracaoSintegra</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ConfirmeCNPJ</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CNPJLIMPO</elementReference>
            </defaultValue>
            <fieldText>Confirme o CNPJ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaSelecionarConsulta_0</name>
        <label>Tela pra selecionar a consulta</label>
        <locationX>392</locationX>
        <locationY>319</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>QualConsulta</targetReference>
        </connector>
        <fields>
            <name>TelaSelecionarConsulta_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TelaSelecionarConsulta_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelecioneIntegracao_0</name>
                    <choiceReferences>integracaoReceitaFederal</choiceReferences>
                    <choiceReferences>integracaoSintegra</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Selecione a integração:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TelaSelecionarConsulta_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Deseja_puxar_os_dados_de_endere_o_pra_conta_0</name>
                    <choiceReferences>escolhaSim</choiceReferences>
                    <choiceReferences>EscolhaNao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>escolhaSim</defaultSelectedChoiceReference>
                    <fieldText>Deseja substituir os dados de endereço da conta?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>SelecioneIntegracao_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>integracaoReceitaFederal</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>SelecioneIntegracao_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>integracaoSintegra</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ConfirmeCNPJ_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CNPJLIMPO</elementReference>
            </defaultValue>
            <fieldText>Confirme o CNPJ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>534</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
