force-app/main/default/flows/ContaConsultaSintegraAssincrono.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Consulta_Simples</name>
        <label>Consulta Simples</label>
        <locationX>627</locationX>
        <locationY>732</locationY>
        <actionName>DW_SintegraWSServiceFlowSN</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AttSimples</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PostarErroSintegra</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>$Record.Documento__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Consulta_Sintegra</name>
        <label>Consulta Sintegra</label>
        <locationX>1038</locationX>
        <locationY>737</locationY>
        <actionName>DW_SintegraWSServiceFlowSintegra</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AttSintegra</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AtualizaErroSintegra</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>$Record.Documento__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ConsultaReceita</name>
        <label>ConsultaReceita</label>
        <locationX>1347</locationX>
        <locationY>630</locationY>
        <actionName>DW_SintegraWSServiceFlowRF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AtualizarConta_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>atualizarErro</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>$Record.Documento__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>PostarErroSintegra</name>
        <label>Postar Erro Sintegra</label>
        <locationX>1014</locationX>
        <locationY>1348</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ErroSimplesDadosReceitas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AttSimples</name>
        <label>AttSimples</label>
        <locationX>422</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>$Record.EventosFuturosSimei__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Simples.eventos_futuros_simples_simei</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EventosFuturosSimplesNacional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Simples.eventos_futuros_simples_nacional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NomeFantasia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Simples.nome_empresarial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SituacaSimplesNacional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Simples.situacao_simples_nacional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SituacaoSimei__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Simples.situacao_simei</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SituacaoSimplesNacionalAnterior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Simples.situacao_simples_nacional_anterior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StatusIntegracao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Simples.OptanteSN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AutomacaoSintegra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executado com sucesso</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AutomacaoSimples__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executado com sucesso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarAttr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttSintegra</name>
        <label>AttSintegra</label>
        <locationX>825</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>$Record.AutomacaoSintegra__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bairro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.municipio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.cep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formEnderecoSintegra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CodigoMunicipioCobranca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.codigo_municipio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CodigoMunicipio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.codigo_municipio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DataFimAtividade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.data_fim_atividade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InformacaoIEDestinatario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.informacao_ie_como_destinatario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InscricaoEstadual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.inscricao_estadual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NaoConsultarCepCorreio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NomeEmpresarial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.nome_empresarial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NomeFantasia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.nome_fantasia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.municipio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.cep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.uf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formEnderecoSintegra</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SituacaoCNPJ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.situacao_cnpj</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SituacaoInscricaoEstadual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.situacao_ie</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TipoInscricao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consulta_Sintegra.tipo_inscricao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consulta_Simples</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErroSimplesDadosReceitas</name>
        <label>ErroSimplesDadosReceitas</label>
        <locationX>444</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>$Record.AutomacaoSimples__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executado com erro</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarAttr</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>escolherConsulta</name>
        <label>escolherConsulta</label>
        <locationX>1015</locationX>
        <locationY>535</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>executaReceitaFederalFaseBasico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCadastro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Básico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AutomacaoReceita__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConsultaReceita</targetReference>
            </connector>
            <label>executaReceitaFederalFaseBasico</label>
        </rules>
        <rules>
            <name>executaSIntegraFaseCadastroCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCadastro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadastro Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AutomacaoSintegra__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consulta_Sintegra</targetReference>
            </connector>
            <label>executaSIntegraFaseCadastroCliente</label>
        </rules>
        <rules>
            <name>executaSimplesFaseCadastroCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCadastro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cadastro Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AutomacaoSintegra__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executado com sucesso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AutomacaoSimples__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente</stringValue>
                </rightValue>
            </conditions>
            <label>executaSimplesFaseCadastroCliente</label>
        </rules>
    </decisions>
    <formulas>
        <name>Complemento50</name>
        <dataType>String</dataType>
        <expression>LEFT({!ConsultaReceita.complemento},50)</expression>
    </formulas>
    <formulas>
        <name>formEnderecoReceita</name>
        <dataType>String</dataType>
        <expression>{!ConsultaReceita.logradouro} &amp; &apos;, &apos; &amp; {!ConsultaReceita.numero} &amp;&apos; , &apos; &amp; IF({!Complemento50} &lt;&gt; null &amp;&amp; NOT(CONTAINS({!Complemento50},&quot;*&quot;)) , {!Complemento50}, &apos;S/N&apos;) &amp;  &apos;, &apos; &amp; {!ConsultaReceita.bairro}</expression>
    </formulas>
    <formulas>
        <name>formEnderecoSintegra</name>
        <dataType>String</dataType>
        <expression>{!Consulta_Sintegra.logradouro} &amp; &apos;, &apos; &amp; {!Consulta_Sintegra.numero} &amp;&apos; , &apos; &amp;  &apos;S/N&apos; &amp;  &apos;, &apos; &amp; {!Consulta_Sintegra.bairro}</expression>
    </formulas>
    <interviewLabel>Conta Consulta Sintegra - Assíncrono {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conta Consulta Sintegra - Assíncrono</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AtualizaErroSintegra</name>
        <label>AtualizaErroSintegra</label>
        <locationX>1167</locationX>
        <locationY>857</locationY>
        <connector>
            <targetReference>PostarErroSintegra</targetReference>
        </connector>
        <inputAssignments>
            <field>AutomacaoSintegra__c</field>
            <value>
                <stringValue>Executado com erro</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarAttr</name>
        <label>AtualizarAttr</label>
        <locationX>50</locationX>
        <locationY>1044</locationY>
        <faultConnector>
            <targetReference>PostarErroSintegra</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarConta_0</name>
        <label>Atualizar conta</label>
        <locationX>1721</locationX>
        <locationY>703</locationY>
        <faultConnector>
            <targetReference>atualizarErro</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AutomacaoReceita__c</field>
            <value>
                <stringValue>Executado com sucesso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>ConsultaReceita.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>ConsultaReceita.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>ConsultaReceita.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>ConsultaReceita.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>formEnderecoReceita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CapitalSocial__c</field>
            <value>
                <elementReference>ConsultaReceita.capital_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoMunicipioCobranca__c</field>
            <value>
                <elementReference>ConsultaReceita.codigo_municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoMunicipio__c</field>
            <value>
                <elementReference>ConsultaReceita.codigo_municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>Complemento50</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAberturaEmpresa__c</field>
            <value>
                <elementReference>ConsultaReceita.abertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataSituacaoEspecial__c</field>
            <value>
                <elementReference>ConsultaReceita.situacao_especial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra__c</field>
            <value>
                <elementReference>ConsultaReceita.extra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoSituacao__c</field>
            <value>
                <elementReference>ConsultaReceita.motivo_situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ConsultaReceita.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaturezaIntegracao__c</field>
            <value>
                <elementReference>ConsultaReceita.natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeEmpresarial__c</field>
            <value>
                <elementReference>ConsultaReceita.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>ConsultaReceita.fantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porte__c</field>
            <value>
                <elementReference>ConsultaReceita.porte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>ConsultaReceita.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>ConsultaReceita.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>formEnderecoReceita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiglaNaturezaJuridica__c</field>
            <value>
                <elementReference>ConsultaReceita.sigla_natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoEspecial__c</field>
            <value>
                <elementReference>ConsultaReceita.situacao_especial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacao__c</field>
            <value>
                <elementReference>ConsultaReceita.situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoLogradouro__c</field>
            <value>
                <elementReference>ConsultaReceita.tipo_logradouro</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>atualizarErro</name>
        <label>Atualizar Erro</label>
        <locationX>1476</locationX>
        <locationY>929</locationY>
        <connector>
            <targetReference>PostarErroSintegra</targetReference>
        </connector>
        <inputAssignments>
            <field>AutomacaoReceita__c</field>
            <value>
                <stringValue>Executado com erro</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>896</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>escolherConsulta</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>StatusCadastro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Básico</stringValue>
            </value>
        </filters>
        <filters>
            <field>AutomacaoReceita__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCadastro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cadastro Cliente</stringValue>
            </value>
        </filters>
        <filters>
            <field>AutomacaoSintegra__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
