force-app/main/default/flows/CotacaoRapida.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>navegar_para_quote</name>
        <label>navegar para quote</label>
        <locationX>143</locationX>
        <locationY>657</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>QuoteSobj.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Atr</name>
        <label>Atr</label>
        <locationX>1406</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>contagem</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atrib</name>
        <label>Atrib</label>
        <locationX>823</locationX>
        <locationY>1065</locationY>
        <assignmentItems>
            <assignToReference>contagem2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Condicao_1</name>
        <label>Atribuir Condicao 1</label>
        <locationX>1229</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>CondID1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lp.CondicaoPagamento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Condicao_2</name>
        <label>Atribuir Condicao 2</label>
        <locationX>1368</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>CondID2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lp.CondicaoPagamento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Condicao_3</name>
        <label>Atribuir Condicao 3</label>
        <locationX>1498</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>CondID3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lp.CondicaoPagamento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attr_contactId</name>
        <label>attr contactId</label>
        <locationX>1231</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContacSobj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EscolhaCatalogoScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attr_contactId_0</name>
        <label>attr contactId</label>
        <locationX>746</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscolhaContatoInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EscolhaCatalogoScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attr_opp</name>
        <label>attr opp</label>
        <locationX>1254</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>OpportunitySobj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSobj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitySobj.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDatePlus10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitySobj.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>F1 - Pré - Formalização</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitySobj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nomeCotacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunitySobj.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CatalogoPrecoInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attr_record_id</name>
        <label>attr record id</label>
        <locationX>362</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conta.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountSobj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attr_Transp_1</name>
        <label>Attr Transp 1</label>
        <locationX>655</locationX>
        <locationY>1134</locationY>
        <assignmentItems>
            <assignToReference>Transp1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Transportadora__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atrib</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attr_Transp_2</name>
        <label>Attr Transp 2</label>
        <locationX>713</locationX>
        <locationY>1267</locationY>
        <assignmentItems>
            <assignToReference>Transp2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Transportadora__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atrib</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attr_Transp_3</name>
        <label>Attr Transp 3</label>
        <locationX>748</locationX>
        <locationY>1396</locationY>
        <assignmentItems>
            <assignToReference>Transp3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Transportadora__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atrib</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttrNovoContato</name>
        <label>attr novo contato</label>
        <locationX>844</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>ContacSobj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSobj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContacSobj.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeParaNovoContatoInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContacSobj.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SobrenomeNomeParaNovoContatoInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContacSobj.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailParaNovoContatoInput.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatedContactSobj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrOCR</name>
        <label>attr OCR</label>
        <locationX>1396</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>OCRSobj.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRSobj.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunitySobj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRSobj.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comprador técnico</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilialFaturamentoSobj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrQuote</name>
        <label>attr quote</label>
        <locationX>758</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>QuoteSobj.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunitySobj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nomeCotacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em revisão</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.DataEntrega__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDatePlus10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDatePlus10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.Vendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSobj.Representante__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.FilialFaturamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FilialFaturamentoSobj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.Nome_do_Logo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nomeCotacao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrQuote_0</name>
        <label>attr quote</label>
        <locationX>285</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>QuoteSobj.Valor_do_Frete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValorFreteInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.Transportadora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransportadoraId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteSobj.Tipo_de_Frete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TipoFreteInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrQuote_0_0</name>
        <label>attr quote</label>
        <locationX>778</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>QuoteSobj.CondicaoPagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CondicaoPagamentoInput.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ops_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nenhum</name>
        <choiceText>Nenhum</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>conta_foi_informada</name>
        <label>conta foi informada?</label>
        <locationX>129</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>CotacaoRapidaScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>não</defaultConnectorLabel>
        <rules>
            <name>conta_foi_informadasim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountSobj</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>criar_novo_contato</name>
        <label>criar novo contato</label>
        <locationX>517</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>attr_contactId_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>criar_novo_contatosim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EscolhaContatoInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nenhum</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AttrNovoContato</targetReference>
            </connector>
            <label>sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisao2</name>
        <label>Decisao2</label>
        <locationX>160</locationX>
        <locationY>1209</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PrimeiraVez</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contagem2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attr_Transp_1</targetReference>
            </connector>
            <label>PrimeiraVez</label>
        </rules>
        <rules>
            <name>SegundaVez</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contagem2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attr_Transp_2</targetReference>
            </connector>
            <label>SegundaVez</label>
        </rules>
        <rules>
            <name>TerceiraVez</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contagem2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attr_Transp_3</targetReference>
            </connector>
            <label>TerceiraVez</label>
        </rules>
    </decisions>
    <decisions>
        <name>EncontrouCotacao</name>
        <label>EncontrouCotacao</label>
        <locationX>1085</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>CotacaoRapidaScreen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CotacaoCol</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lp</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>EncontrouTransportadora</name>
        <label>EncontrouTransportadora</label>
        <locationX>583</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>CotacaoRapidaScreen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>EncontrouTranspor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CotacaoCol</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>EncontrouTranspor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fila</name>
        <label>Fila</label>
        <locationX>1078</locationX>
        <locationY>1137</locationY>
        <defaultConnector>
            <targetReference>Lp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Primeira_Vez</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Condicao_1</targetReference>
            </connector>
            <label>Primeira Vez</label>
        </rules>
        <rules>
            <name>Segunda_Vez</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Condicao_2</targetReference>
            </connector>
            <label>Segunda Vez</label>
        </rules>
        <rules>
            <name>Terceira_Vez</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contagem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_Condicao_3</targetReference>
            </connector>
            <label>Terceira Vez</label>
        </rules>
    </decisions>
    <description>Ajustado  atribuição de tipo de frente e condição de pagamento</description>
    <dynamicChoiceSets>
        <name>ContactSobjRecordSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountSobj.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaHistoricoCondicoes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CondID1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CondID2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CondID3</elementReference>
            </value>
        </filters>
        <limit>3</limit>
        <object>CondicaoPagamento__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaHistoricoTransportadora</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transp1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transp2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transp3</elementReference>
            </value>
        </filters>
        <limit>3</limit>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PBRecordSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreviousQuoteCondicaoRecordOptionSet</name>
        <dataType>String</dataType>
        <displayField>ResumoEscolhaFlow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountSobj.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CondicaoPagamento__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <limit>2</limit>
        <object>Quote</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreviousQuoteFreteRecordOptionSet</name>
        <dataType>String</dataType>
        <displayField>ResumoEscolhaFlow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountSobj.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Frete__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <limit>2</limit>
        <object>Quote</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoFreteRecordOptionSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_Frete__c</picklistField>
        <picklistObject>Quote</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>CloseDatePlus10</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate + 10}</expression>
    </formulas>
    <formulas>
        <name>nomeCotacao</name>
        <dataType>String</dataType>
        <expression>text({!numeroCotacao}) &amp;&apos; - &apos;&amp; {!AccountSobj.Name} &amp;&apos; - &apos;&amp;text( {!OpportunitySobj.CloseDate})</expression>
    </formulas>
    <formulas>
        <name>numeroCotacao</name>
        <dataType>Number</dataType>
        <expression>value({!ultimaCotacao.QuoteNumber})+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Cotação rápida {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cotação rápida</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>659</locationX>
        <locationY>994</locationY>
        <collectionReference>CotacaoCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decisao2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CotacaoRapidaScreen4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Lp</name>
        <label>Lp</label>
        <locationX>1053</locationX>
        <locationY>916</locationY>
        <collectionReference>CotacaoCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fila</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CotacaoRapidaScreen2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_opp</name>
        <label>create opp</label>
        <locationX>1523</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>attrOCR</targetReference>
        </connector>
        <inputReference>OpportunitySobj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_quote</name>
        <label>create quote</label>
        <locationX>143</locationX>
        <locationY>810</locationY>
        <connector>
            <targetReference>navegar_para_quote</targetReference>
        </connector>
        <inputReference>QuoteSobj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatedContactSobj</name>
        <label>CreatedContactSobj</label>
        <locationX>1012</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>attr_contactId</targetReference>
        </connector>
        <inputReference>ContacSobj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createOCR</name>
        <label>create OCR</label>
        <locationX>1014</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>attrQuote</targetReference>
        </connector>
        <inputReference>OCRSobj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AccountSobj</name>
        <label>AccountSobj</label>
        <locationX>363</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EscolhaContatoScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FilialFaturamentoSobj</name>
        <label>FilialFaturamentoSobj</label>
        <locationX>1198</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createOCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Salvabras</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FilialFaturamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Ops</name>
        <label>Cot</label>
        <locationX>1089</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EncontrouCotacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CondicaoPagamento__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>CotacaoCol</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CondicaoPagamento__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Ops_0</name>
        <label>Cot</label>
        <locationX>743</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EncontrouTransportadora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transportadora__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>CotacaoCol</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Transportadora__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Cotação</description>
        <name>ultimaCotacao</name>
        <label>ultimaCotacao</label>
        <locationX>1134</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>attr_opp</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <sortField>QuoteNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CotacaoRapidaScreen</name>
        <label>Cotação rápida</label>
        <locationX>126</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>attr_record_id</targetReference>
        </connector>
        <fields>
            <name>Conta</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Conta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CotacaoRapidaScreen2</name>
        <label>Cotação rápida</label>
        <locationX>850</locationX>
        <locationY>626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>attrQuote_0_0</targetReference>
        </connector>
        <fields>
            <name>CondicaoPagamentoInput</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CondicaoPagamento__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Condição de pagamento</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Condi_es_de_pagamento_Recentes</name>
            <choiceReferences>ListaHistoricoCondicoes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Condições de pagamento (Recentes)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CondID1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PreviousQuoteInput</name>
            <choiceReferences>PreviousQuoteCondicaoRecordOptionSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Últimas cotações</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PreviousQuoteCondicaoRecordOptionSet</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CotacaoRapidaScreen4</name>
        <label>Cotação rápida</label>
        <locationX>393</locationX>
        <locationY>815</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>attrQuote_0</targetReference>
        </connector>
        <fields>
            <name>TransportadoraId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Transportadora__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Transportadora</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Transportadoras_Recentes</name>
            <choiceReferences>ListaHistoricoTransportadora</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transportadoras Recentes</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transp1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ValorFreteInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Valor do frete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>TipoFreteInput</name>
            <choiceReferences>TipoFreteRecordOptionSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de frete</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PreviousQuoteInputForFrete</name>
            <choiceReferences>PreviousQuoteFreteRecordOptionSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fretes anteriores</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transp1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EscolhaCatalogoScreen</name>
        <label>Escolha do catálogo</label>
        <locationX>932</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ultimaCotacao</targetReference>
        </connector>
        <fields>
            <name>CatalogoPrecoInput</name>
            <choiceReferences>PBRecordSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Catálogo de preço</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EscolhaContatoScreen</name>
        <label>Escolha do contato</label>
        <locationX>546</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>criar_novo_contato</targetReference>
        </connector>
        <fields>
            <name>EscolhaContatoInput</name>
            <choiceReferences>ContactSobjRecordSet</choiceReferences>
            <choiceReferences>Nenhum</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Nenhum</defaultSelectedChoiceReference>
            <fieldText>Escolha do contato</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NomeParaNovoContatoInput</name>
            <dataType>String</dataType>
            <fieldText>Nome para novo contato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EscolhaContatoInput</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nenhum</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SobrenomeNomeParaNovoContatoInput</name>
            <dataType>String</dataType>
            <fieldText>Sobrenome para novo contato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EscolhaContatoInput</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nenhum</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmailParaNovoContatoInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nome para novo contato</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EscolhaContatoInput</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nenhum</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>conta_foi_informada</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CondID1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CondID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CondID3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContacSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contagem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contagem2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CotacaoCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ItemAtualloop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OCRSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpertunidadeCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunitySobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>QuoteSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Transp1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transp2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transp3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
