force-app/main/default/flows/Cotacao_Flow_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Coll</name>
        <label>Add Coll</label>
        <locationX>678</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>ItemOrderCollS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Att_Order</name>
        <label>Att Order</label>
        <locationX>318</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>OrderS.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.FilialFaturamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FilialFaturamento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.Transportadora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Transportadora__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.Vendedor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vendedor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.CondicaoPagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CondicaoPagamento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.TipoFrete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tipo_de_Frete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DataEntrega__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.ObservacoesNotaFiscal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ObservacoesNotaFiscal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.StatusIntegracao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderS.PoNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NumeroPedidoCliente__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Att_Order_items</name>
        <label>Att Order items</label>
        <locationX>422</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>OrderItemS.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemS.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemS.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemS.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemS.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValorVenda</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemS.TipoOperacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TipoOperacao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemS.ValorSemIPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ValorSemIPI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Coll</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aprovada</name>
        <label>Aprovada</label>
        <locationX>167</locationX>
        <locationY>334</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aceito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PedidoCotacao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Itens</name>
        <label>Existe Itens</label>
        <locationX>551</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SimExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteItemCollS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Pedido</name>
        <label>Existe Pedido</label>
        <locationX>311</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>NAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Att_Order</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <formulas>
        <name>ValorVenda</name>
        <dataType>Currency</dataType>
        <expression>{!Loop.TotalPrice}/{!Loop.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Cotação - Flow After (Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cotação - Flow After (Update)</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>560</locationX>
        <locationY>343</locationY>
        <collectionReference>QuoteItemCollS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Att_Order_items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Coll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Coll</name>
        <label>Insert Coll</label>
        <locationX>752</locationX>
        <locationY>341</locationY>
        <inputReference>ItemOrderCollS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Order</name>
        <label>Insert Order</label>
        <locationX>439</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>QuoteItem</targetReference>
        </connector>
        <inputReference>OrderS</inputReference>
    </recordCreates>
    <recordLookups>
        <name>PedidoCotacao</name>
        <label>Pedido da Cotação</label>
        <locationX>178</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>OrderS</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QuoteItem</name>
        <label>Quote Item</label>
        <locationX>438</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Itens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>QuoteItemCollS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>TipoOperacao__c</queriedFields>
        <queriedFields>ValorSemIPI__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Aprovada</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ItemOrderCollS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderItemS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>QuoteItemCollS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
