force-app/main/default/flows/Criar_Conta_Representante.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NovaContaRepresentante</name>
        <label>NovaContaRepresentante</label>
        <locationX>360</locationX>
        <locationY>247</locationY>
        <actionName>NovaContaRepresentante</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Erro</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erro</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>CampoNomeRepresentante</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Criar Conta Representante {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar Conta Representante</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>cadastroNomeRepresentante</name>
        <label>Insira o nome</label>
        <locationX>197</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NovaContaRepresentante</targetReference>
        </connector>
        <fields>
            <name>CampoNomeRepresentante</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>nomeRepresentante</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Erro</name>
        <label>MsgErro</label>
        <locationX>545</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgErro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>62</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>cadastroNomeRepresentante</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>nomeRepresentante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
