force-app/main/default/flows/CriarConta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NovaContaTransportadora</name>
        <label>NovaContaTransportadora</label>
        <locationX>193</locationX>
        <locationY>416</locationY>
        <actionName>NovaContaTransportadora</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Menssagem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Menssagem</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>CampoNome</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>EscolhaTipoContaTransportadora</name>
        <choiceText>Transportadora</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>EscolhaTipoContaVendedor</name>
        <choiceText>Vendedor</choiceText>
        <dataType>String</dataType>
    </choices>
    <interviewLabel>Criar Conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar Conta Transportadora</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>cadastroNome</name>
        <label>Insira o nome</label>
        <locationX>176</locationX>
        <locationY>196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NovaContaTransportadora</targetReference>
        </connector>
        <fields>
            <name>CampoNome</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Nome</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Menssagem</name>
        <label>Menssagem</label>
        <locationX>407</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Erro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>cadastroNome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Nome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
