force-app/main/default/flows/DW_CriarContaRapidaSintegraWS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BuscarReceitaFederalSintegra</name>
        <label>Buscar dados da Receita Federal no Sintegra</label>
        <locationX>197</locationX>
        <locationY>224</locationY>
        <actionName>DW_SintegraWSServiceFlowRF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CNPJ_trouxe_resultado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DigiteOCNPJ</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NavegarConta</name>
        <label>Navegar pra conta</label>
        <locationX>782</locationX>
        <locationY>222</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CriarContaReceita</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CNPJ_trouxe_resultado</name>
        <label>CNPJ trouxe resultado?</label>
        <locationX>396</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>errorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TrouxeResultado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarReceitaFederalSintegra.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscarReceitaFederalSintegra.status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarContaReceita</targetReference>
            </connector>
            <label>Trouxe resultado</label>
        </rules>
    </decisions>
    <formulas>
        <name>ComplementoForm</name>
        <dataType>String</dataType>
        <expression>LEFT({!BuscarReceitaFederalSintegra.complemento},50)</expression>
    </formulas>
    <formulas>
        <name>formReceita</name>
        <dataType>String</dataType>
        <expression>LEFT({!BuscarReceitaFederalSintegra.logradouro} &amp; &apos;, &apos; &amp; {!BuscarReceitaFederalSintegra.numero} &amp;&apos; , &apos; &amp; IF({!ComplementoForm} &lt;&gt; null &amp;&amp; NOT(CONTAINS({!ComplementoForm},&quot;*&quot;)) , {!ComplementoForm}, &apos;S/N&apos;) &amp;  &apos;, &apos; &amp; {!BuscarReceitaFederalSintegra.bairro}, 80)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Criar conta rápida Sintegra WS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar Conta rápida Sintegra WS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarContaReceita</name>
        <label>Criar conta com dados da receita</label>
        <locationX>603</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>NavegarConta</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.bairro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>formReceita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CapitalSocial__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.capital_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoMunicipioCobranca__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.codigo_municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodigoMunicipio__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.codigo_municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComplementoCobranca__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.complemento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.complemento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAberturaEmpresa__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.abertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataCadastroEmpresa__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataSituacaoEspecial__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.data_situacao_especial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documento__c</field>
            <value>
                <elementReference>DigiteOCNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailNFe__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.extra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoSituacao__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.motivo_situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaoConsultarCepCorreio__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeEmpresarial__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeFantasia__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.fantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porte__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.porte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>formReceita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiglaNaturezaJuridica__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.sigla_natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SituacaoEspecial__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.situacao_especial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoLogradouro__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.tipo_logradouro</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CriarConta</name>
        <label>CriarConta</label>
        <locationX>51</locationX>
        <locationY>227</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BuscarReceitaFederalSintegra</targetReference>
        </connector>
        <fields>
            <name>DigiteOCNPJ</name>
            <dataType>String</dataType>
            <fieldText>Digite o CNPJ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>infoCriarConta</name>
            <fieldText>&lt;p&gt;*Para criar uma conta, insira o &lt;b&gt;CNPJ &lt;/b&gt;acima para realizar a consulta na receita federal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>287</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>naoExisteCNPJ</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Validação&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Não existe dados para este CNPJ informado, troque-o para um existente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen_0</name>
        <label>errorScreen</label>
        <locationX>604</locationX>
        <locationY>447</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>naoExisteCNPJ_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CriarConta</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
