force-app/main/default/flows/DW_Fl_Forcar_Produto_Mercos_Integra_o.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>integrarProduto</name>
        <label>integrarProduto</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>DWMercosProduct2IntegrableBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterProdutoNewUpdate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>navigationAccount</name>
        <label>navigationAccount</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>atualizarProduto</name>
        <label>atualizarProduto</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ObterProduto.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterProduto.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>atualizarContaPIntegracao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>bloqueios</name>
        <label>bloqueios</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>campos_preenchimento_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>campos preenchido</defaultConnectorLabel>
        <rules>
            <name>semPreenchimento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterProduto.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterProduto.Custo_de_Produto_Pro__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterProduto.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterProduto.NCM__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterProduto.Peso_KG__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterProduto.Largura__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterProduto.Altura__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterProduto.Comprimento__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>campos_preenchimento</targetReference>
            </connector>
            <label>Sem preenchimento</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>contatoLista</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contatos</name>
        <dataType>String</dataType>
        <displayField>LastName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>teste</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipoConta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipoPessoaContaValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>tipo_pessoa_conta__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>DW Fl Forçar Produto Mercos Integração {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Fl Forçar Produto Mercos Integração</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterProduto</name>
        <label>Produto</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bloqueios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterProdutoNewUpdate</name>
        <label>ObterProdutoNewUpdate</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterUltimoHttp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterUltimoHttp</name>
        <label>ObterUltimoHttp</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retorno_integracao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HttpRequestLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualizarContaPIntegracao</name>
        <label>atualizarContaPIntegracao</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>screenAtualizado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <inputReference>ObterProduto</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>campos_preenchimento</name>
        <label>campos preenchimento</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>atualizarProduto</targetReference>
        </connector>
        <fields>
            <name>textoExibicao</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Campos obrigátorios para a integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Preencha os campos em branco e avançe para finalizar o fluxo. Em seguida clique &lt;strong&gt;novamente &lt;/strong&gt;para realizar a integração.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterProduto.Name</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Codigo_Produto</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterProduto.ProductCode</elementReference>
            </defaultValue>
            <fieldText>Código Produto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>custoProduto</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>ObterProduto.Custo_de_Produto_Pro__c</elementReference>
            </defaultValue>
            <fieldText>Custo Produto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>NCM</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterProduto.NCM__c</elementReference>
            </defaultValue>
            <fieldText>NCM</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Peso_KG</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ObterProduto.Peso_KG__c</elementReference>
            </defaultValue>
            <fieldText>Peso KG</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Largura</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ObterProduto.Largura__c</elementReference>
            </defaultValue>
            <fieldText>Largura</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Altura</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ObterProduto.Altura__c</elementReference>
            </defaultValue>
            <fieldText>Altura</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Comprimento</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ObterProduto.Comprimento__c</elementReference>
            </defaultValue>
            <fieldText>Comprimento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DescricaoProduto</name>
            <defaultValue>
                <stringValue>{!ObterProduto.Description}</stringValue>
            </defaultValue>
            <fieldText>Descrição Produto</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>campos_preenchimento_0</name>
        <label>campos preenchimento</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>integrarProduto</targetReference>
        </connector>
        <fields>
            <name>textoExibicao_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Campos que serão integrados com o Mercos:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nome: {!ObterProduto.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Preço tabela: {!ObterProduto.Custo_de_Produto_Pro__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Código Produto: {!ObterProduto.ProductCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Código NCM: {!ObterProduto.NCM__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Peso KG: {!ObterProduto.Peso_KG__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Largura: {!ObterProduto.Largura__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Altura: {!ObterProduto.Altura__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Comprimento: {!ObterProduto.Comprimento__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Comprimento: {!ObterProduto.Comprimento__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Descrição:&amp;nbsp;&lt;/p&gt;&lt;p&gt;{!ObterProduto.Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowError</name>
        <label>Flow Error</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>erroScreen</name>
            <fieldText>&lt;p&gt;Erro ao executar o fluxo:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retorno_integracao</name>
        <label>Retorno integração</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>Requisicao</name>
            <fieldText>Requisição Enviada</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Requisicao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>valoreRequisicao</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Requisição:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.RequestBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Metodoexecutado</name>
            <fieldText>Método Executado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Metodoexecutado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>methodoExecutado</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultimo método executado:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.Method__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;POST&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; = Inclusão&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PUT &lt;/strong&gt;= Atualização&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Status Integração e Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resultadoScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterProdutoNewUpdate.StatusIntegracaoMercos__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ultima Resposta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.ResponseBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Headers</name>
            <fieldText>Headers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Headers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ultimoHeaders</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultimo Headers:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ObterUltimoHttp.HeadersResponse__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenAtualizado</name>
        <label>screenAtualizado</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>screenAtualizadoDetalhes</name>
            <fieldText>&lt;p&gt;Atualizado cliente com sucesso, &lt;strong&gt;clique novamente&lt;/strong&gt; no botão &apos;Forçar Mercos Integração&apos; para realizara o processo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterProduto</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
