force-app/main/default/flows/DW_Fl_Integra_o_Pre_conta_Cotacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>navegarCotacao</name>
        <label>navegarCotacao</label>
        <locationX>842</locationX>
        <locationY>2546</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Falha</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>realizarDuasIntegracoes</name>
        <label>realizarDuasIntegracoes</label>
        <locationX>314</locationX>
        <locationY>3806</locationY>
        <actionName>DWExecuteAllIntegrations</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterHttpRequest</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>attrlistProduct</name>
        <label>attrlistProduct</label>
        <locationX>402</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>listProduct2forUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>product2ForUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrPreConta</name>
        <label>attrPreConta</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.Nome_Abreviado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeAbreviado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Documento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CEP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rua</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BairroCobranca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeConta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.tipo_pessoa_conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tipoPessoaConta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>atualizarContaPIntegracao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrProdIncludeCdERP</name>
        <label>attrProdIncludeCdERP</label>
        <locationX>402</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>product2ForUpdate.CodigoERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodigoERPProduto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>product2ForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obterProduto.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>attrlistProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrQuoteLineItem</name>
        <label>attrQuoteLineItem</label>
        <locationX>402</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>quoteLineItemAtt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forLineItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineItemAtt.TipoOperacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TipoOperacao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>attrQuoteLineItemListAdd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attrQuoteLineItemListAdd</name>
        <label>attrQuoteLineItemListAdd</label>
        <locationX>402</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>attrQuoteLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>attrQuoteLineItemList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>obterProduto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>bloqueiosConta</name>
        <label>bloqueiosConta</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>ObterQuoteLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sem_preenchimento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BairroCobranca__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingState</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.Nome_Abreviado__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.tipo_pessoa_conta__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.Type</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>telaCamposOBRPReConta</targetReference>
            </connector>
            <label>Sem preenchimento</label>
        </rules>
    </decisions>
    <decisions>
        <name>contaIntegrada</name>
        <label>contaIntegrada</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>CamposObrIntegracaoConta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.CodigoERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.CodigoERP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterQuoteLineItems</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>IncluidoCodigoERPProduto</name>
        <label>Incluido Código ERP Produto</label>
        <locationX>314</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <targetReference>realizarDuasIntegracoes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>incluidoCdERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listProduct2forUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atualizarProdutoByUpdate</targetReference>
            </connector>
            <label>incluido Cd ERP</label>
        </rules>
    </decisions>
    <decisions>
        <name>maior_zero_attrQuoteLineItemList</name>
        <label>maior zero attrQuoteLineItemList</label>
        <locationX>314</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>IncluidoCodigoERPProduto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>possui_Items_Qlt</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>attrQuoteLineItemList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atualizarQuoteLineItem</targetReference>
            </connector>
            <label>possui Items_Qlt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Produto</name>
        <label>DiffProduto</label>
        <locationX>534</locationX>
        <locationY>2426</locationY>
        <defaultConnector>
            <targetReference>forLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CodERPNullProduto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>obterProduto.CodigoERP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obterProduto.CodigoERP__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Tela_Integracao_Bloqueio</targetReference>
            </connector>
            <label>CodERPNullProduto</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoOperacaoNull</name>
        <label>TipoOperacaoNull</label>
        <locationX>534</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>obterProduto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>tpOperacaoNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forLineItem.TipoOperacao__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>forLineItem.TipoOperacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenQuoteLineItem</targetReference>
            </connector>
            <label>tpOperacaoNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>listTipoOperacao</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoOperacao__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipoConta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipoPessoaConta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>tipo_pessoa_conta__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>DW Fl Integração Pre conta &amp; Cotação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Fl Integração Pre conta &amp; Cotação</label>
    <loops>
        <name>forLineItem</name>
        <label>forLineItem</label>
        <locationX>314</locationX>
        <locationY>1610</locationY>
        <collectionReference>ObterQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TipoOperacaoNull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>maior_zero_attrQuoteLineItemList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterAtualizadoCotacao</name>
        <label>ObterAtualizadoCotacao</label>
        <locationX>314</locationX>
        <locationY>4046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RetornoIntegracao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterConta</name>
        <label>ObterConta</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contaIntegrada</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterQuote.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterHttpRequest</name>
        <label>Obter HttpRequest</label>
        <locationX>314</locationX>
        <locationY>3926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterAtualizadoCotacao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HttpRequestLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obterProduto</name>
        <label>obterProduto</label>
        <locationX>534</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Produto</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forLineItem.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterQuote</name>
        <label>ObterQuote</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterQuoteLineItems</name>
        <label>ObterQuoteLineItems</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forLineItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualizarContaPIntegracao</name>
        <label>atualizarContaPIntegracao</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>finalizadosucesso</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <inputReference>ObterConta</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>atualizarProdutoByUpdate</name>
        <label>atualizarProdutoByUpdate</label>
        <locationX>50</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>realizarDuasIntegracoes</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <inputReference>listProduct2forUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>atualizarQuoteLineItem</name>
        <label>atualizarQuoteLineItem</label>
        <locationX>182</locationX>
        <locationY>3218</locationY>
        <connector>
            <targetReference>IncluidoCodigoERPProduto</targetReference>
        </connector>
        <inputReference>attrQuoteLineItemList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CamposObrIntegracaoConta</name>
        <label>Campos Obr Integracao Conta</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>bloqueiosConta</targetReference>
        </connector>
        <fields>
            <name>IntegracaoConta</name>
            <fieldText>&lt;p&gt;A conta &lt;strong&gt;{!ObterConta.Name} &lt;/strong&gt;não possui código ERP, sendo assim iremos realizar a pré integração da conta. Dessa forma será feito avaliações dos campos da conta para integração e depois de integrado iremos realizar simulação da cotação.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Falha</name>
        <label>Falha</label>
        <locationX>842</locationX>
        <locationY>2426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navegarCotacao</targetReference>
        </connector>
        <fields>
            <name>FalhaIntegracao</name>
            <fieldText>&lt;p&gt;Ocorreu uma falha na integração da cotação:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finalizadosucesso</name>
        <label>finalizadosucesso</label>
        <locationX>270</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>navegarCotacao</targetReference>
        </connector>
        <fields>
            <name>screenAtualizadoPreConta</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Atualizado cliente com sucesso, &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;clique novamente&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; no botão &apos;para realizar a inclusão da conta no ERP e realizar simulação da cotação&apos;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RetornoIntegracao</name>
        <label>RetornoIntegracao</label>
        <locationX>314</locationX>
        <locationY>4166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>navegarCotacao</targetReference>
        </connector>
        <fields>
            <name>StatusIntegracao</name>
            <fieldText>Status Integração</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>StatusIntegracao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StatusIntegracaoScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status Integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterAtualizadoCotacao.StatusIntegracao__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResultadoAPi</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Resposta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterHttpRequest.ResponseBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenQuoteLineItem</name>
        <label>ScreenQuoteLineItem</label>
        <locationX>402</locationX>
        <locationY>1850</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>attrQuoteLineItem</targetReference>
        </connector>
        <fields>
            <name>itemLineQuoteScreenTpOperacao</name>
            <fieldText>&lt;p&gt;O &lt;strong&gt;{!forLineItem.Product2.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;está sem Tipo de Operação. Ele é obrigatório para a integração.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipoOperacao</name>
            <choiceReferences>listTipoOperacao</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>forLineItem.TipoOperacao__c</elementReference>
            </defaultValue>
            <fieldText>Tipo de operação</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_Integracao_Bloqueio</name>
        <label>Tela Integracao Bloqueio</label>
        <locationX>402</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>attrProdIncludeCdERP</targetReference>
        </connector>
        <fields>
            <name>COD_ERP_PRD</name>
            <fieldText>&lt;p&gt;Produto:&lt;strong&gt; {!obterProduto.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;O produto usado na cotação está sem &lt;strong&gt;Código ERP, &lt;/strong&gt;por favor, verifique o código e inclua o código no produto faltante antes de realizar a integração.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CodigoERPProduto</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>obterProduto.CodigoERP__c</elementReference>
            </defaultValue>
            <fieldText>Código ERP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>telaCamposOBRPReConta</name>
        <label>telaCamposOBRPReConta</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>attrPreConta</targetReference>
        </connector>
        <fields>
            <name>textoExibicaoPreConta</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Campos obrigátorios para a integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Preencha os campos em branco e avançe para finalizar o fluxo. Em seguida clique &lt;strong&gt;novamente &lt;/strong&gt;para realizar a integração.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Name</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NomeAbreviado</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Nome_Abreviado__c</elementReference>
            </defaultValue>
            <fieldText>Nome Abreviado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Documento</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Documento__c</elementReference>
            </defaultValue>
            <fieldText>Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TipoPessoaContaPRe</name>
            <choiceReferences>tipoPessoaConta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo pessoa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeConta</name>
            <choiceReferences>tipoPessoaConta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>telaCamposOBRPReConta_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>telaCamposOBRPReConta_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CEP</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Rua</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Rua</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Insira o endereço no seguinte padrão: Rua de Tal, 999, loja 2, Bairro de Tal&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Bairro</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BairroCobranca__c</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cidade</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingCity</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Estado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingState</elementReference>
                    </defaultValue>
                    <fieldText>Estado</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterQuote</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>attrQuoteLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>listProduct2forUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>product2ForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>quoteLineItemAtt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
