force-app/main/default/flows/DW_Fl_Forcar_Mercos_Integracao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>forcarrMercosIntegraco</name>
        <label>forçarMercosIntegração</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <actionName>DWMercosAccountIntegrableBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterContaNewUpdate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>navigationAccount</name>
        <label>navigationAccount</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>atualizarConta</name>
        <label>atualizarConta</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Documento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CEP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rua</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BairroCobranca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bairro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>atualizarContaPIntegracao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>bloqueios</name>
        <label>bloqueios</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>campos_preenchimento_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>campos preenchido</defaultConnectorLabel>
        <rules>
            <name>semPreenchimento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BairroCobranca__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingState</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.Documento__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>campos_preenchimento</targetReference>
            </connector>
            <label>Sem preenchimento</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>contatoLista</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contatos</name>
        <dataType>String</dataType>
        <displayField>LastName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>teste</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipoConta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipoPessoaContaValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>tipo_pessoa_conta__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>DW Fl Forçar Mercos Integração {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Fl Forçar Mercos Integração</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterConta</name>
        <label>ObterConta</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterContatos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterContaNewUpdate</name>
        <label>ObterContaNewUpdate</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterUltimoHttp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterContatos</name>
        <label>ObterContatos</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bloqueios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterUltimoHttp</name>
        <label>ObterUltimoHttp</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retorno_integracao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HttpRequestLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualizarContaPIntegracao</name>
        <label>atualizarContaPIntegracao</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>screenAtualizado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <inputReference>ObterConta</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>campos_preenchimento</name>
        <label>campos preenchimento</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>atualizarConta</targetReference>
        </connector>
        <fields>
            <name>textoExibicao</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Campos obrigátorios para a integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Preencha os campos em branco e avançe para finalizar o fluxo. Em seguida clique &lt;strong&gt;novamente &lt;/strong&gt;para realizar a integração.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Name</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Documento</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Documento__c</elementReference>
            </defaultValue>
            <fieldText>Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EnderecoCobranca</name>
            <fieldText>Endereço de cobrança / Endereço de entrega</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EnderecoCobranca_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CEP</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Rua</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Rua</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Insira o endereço no seguinte padrão: Rua de Tal, 999, loja 2, Bairro de Tal&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Bairro</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BairroCobranca__c</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Estado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingState</elementReference>
                    </defaultValue>
                    <fieldText>Estado</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cidade</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingCity</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EnderecoCobranca_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CEPEntrega</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.ShippingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>CEP Entrega</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Ruaentrega</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.ShippingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Rua entrega</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BairroEntrega</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.Bairro__c</elementReference>
                    </defaultValue>
                    <fieldText>Bairro Entrega</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Estado_entrega</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.ShippingState</elementReference>
                    </defaultValue>
                    <fieldText>Estado entrega</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cidade_entrega</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.ShippingCity</elementReference>
                    </defaultValue>
                    <fieldText>Cidade entrega</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>campos_preenchimento_0</name>
        <label>campos preenchimento</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>forcarrMercosIntegraco</targetReference>
        </connector>
        <fields>
            <name>textoExibicao_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Campos que serão integrados com o Mercos:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;*&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Segmento usado para essa conta é: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;33746 (segmento mercos)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ObterConta.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ObterConta.NomeFantasia__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ObterConta.Documento__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ObterConta.Phone</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ObterConta.Email__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ObterConta.inscricao_estadual_conta__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>ObterConta.observacao_conta__c</objectFieldReference>
        </fields>
        <fields>
            <name>EnderecoCobranca_0</name>
            <fieldText>Endereço de cobrança / Endereço de entrega</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EnderecoCobranca_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObterConta.BillingAddress</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObterConta.BairroCobranca__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObterConta.NumeroCobranca__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObterConta.ComplementoCobranca__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EnderecoCobranca_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObterConta.ShippingAddress</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObterConta.Bairro__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObterConta.numero_entrega_conta__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ObterConta.Complemento__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContatosView</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contatos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ObterContatos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-450f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome completo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-bb55&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Cargo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-dd95&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-37e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Celular&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-d31e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Telefone comercial&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowError</name>
        <label>Flow Error</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>erroScreen</name>
            <fieldText>&lt;p&gt;Erro ao executar o fluxo:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retorno_integracao</name>
        <label>Retorno integração</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>Requisicao</name>
            <fieldText>Requisição Enviada</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Requisicao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>valoreRequisicao</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Requisição:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.RequestBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Metodoexecutado</name>
            <fieldText>Método Executado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Metodoexecutado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>methodoExecutado</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultimo método executado:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.Method__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;POST&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; = Inclusão&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PUT &lt;/strong&gt;= Atualização&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Status Integração e Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resultadoScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterContaNewUpdate.StatusIntegracaoMercos__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ultima Resposta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.ResponseBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Headers</name>
            <fieldText>Headers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Headers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ultimoHeaders</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultimo Headers:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ObterUltimoHttp.HeadersResponse__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenAtualizado</name>
        <label>screenAtualizado</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>screenAtualizadoDetalhes</name>
            <fieldText>&lt;p&gt;Atualizado cliente com sucesso, &lt;strong&gt;clique novamente&lt;/strong&gt; no botão &apos;Forçar Mercos Integração&apos; para realizara o processo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
