force-app/main/default/flows/DW_Opp_Ultimos_Meses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AttDias</name>
        <label>Att Dias</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opp_Ultimos_Meses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtzOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nao</name>
        <label>Não</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opp_Ultimos_Meses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtzOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>menorIgual</name>
        <label>É menor ou igual?</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Nao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DiaConsultaOportunidadeS.DWNumeroDias__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DiasAposaCriacao</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AttDias</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DiasAposaCriacao</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})-today()</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DW - Opp - Ultimos Meses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW - Opp - Ultimos Meses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DiaConsultaOportunidadeS</name>
        <label>Dia Consulta OportunidadeS</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>menorIgual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DW_Dia_Consulta_Oportunidade__mdt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DW_Dia_Consulta_Oportunidade__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtzOpp</name>
        <label>Atz Opp</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DiaConsultaOportunidadeS</targetReference>
        </connector>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-03-22</startDate>
            <startTime>11:13:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
