force-app/main/default/flows/DWContaAtualizarSaldoMarketing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AttValorOpp</name>
        <label>Att Valor Opp</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.SaldoMarketing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SaldoOportunidades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtzConta</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>SaldoOportunidades</name>
        <dataType>Number</dataType>
        <expression>{!OportunidadeS.Amount}-{!$Record.SaldoUtilizadoMarketing__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>DW - Conta - Atualizar Saldo Marketing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW - Conta - Atualizar Saldo Marketing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OportunidadeS</name>
        <label>OportunidadeS</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttValorOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtzConta</name>
        <label>Atz Conta</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OportunidadeS</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-03-22</startDate>
            <startTime>10:02:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
