force-app/main/default/flows/DWFlForcarIntegracaoTransportadora.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IntegrarTransportadora</name>
        <label>IntegrarTransportadora</label>
        <locationX>1096</locationX>
        <locationY>512</locationY>
        <actionName>DWMercosTransportadoraIntegrableBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterContaTransportadoraNewUpdate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigationCondicao</name>
        <label>NavigationCondicao</label>
        <locationX>885</locationX>
        <locationY>1009</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>DW Fl Forçar Integração Transportadora {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Fl Forçar Integração Transportadora</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterContaTransportadora</name>
        <label>ObterContaTransportadora</label>
        <locationX>1096</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>campos_preenchidos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NomeTipoRegistro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transportadora</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterContaTransportadoraNewUpdate</name>
        <label>ObterContaTransportadoraNewUpdate</label>
        <locationX>1099</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterUltimoHttp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorflow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NomeTipoRegistro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transportadora</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterUltimoHttp</name>
        <label>ObterUltimoHttp</label>
        <locationX>1101</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retorno_integracao</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorflow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transportadora__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HttpRequestLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>campos_preenchidos</name>
        <label>campos preenchidos</label>
        <locationX>1096</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IntegrarTransportadora</targetReference>
        </connector>
        <fields>
            <name>TextoExibicao</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Campos que serão integrados &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Nome: {!ObterContaTransportadora.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorflow</name>
        <label>errorflow</label>
        <locationX>885</locationX>
        <locationY>745</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigationCondicao</targetReference>
        </connector>
        <fields>
            <name>erroScreen</name>
            <fieldText>&lt;p&gt;Erro ao executar o fluxo:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retorno_integracao</name>
        <label>Retorno integração</label>
        <locationX>1101</locationX>
        <locationY>1008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigationCondicao</targetReference>
        </connector>
        <fields>
            <name>Requisicao</name>
            <fieldText>Requisição Enviada</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Requisicao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>valoreRequisicao</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Requisição:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.RequestBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Metodoexecutado</name>
            <fieldText>Método Executado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Metodoexecutado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>methodoExecutado</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultimo método executado:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.Method__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;POST&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; = Inclusão&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PUT &lt;/strong&gt;= Atualização&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Status Integração e Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resultadoScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterContaTransportadoraNewUpdate.StatusIntegracaoMercosTransportadora__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ultima Resposta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.ResponseBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Headers</name>
            <fieldText>Headers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Headers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ultimoHeaders</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultimo Headers:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.HeadersResponse__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ObterContaTransportadora</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
