force-app/main/default/flows/DWFLForcarMercosTitulosIntegracao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>integrar_Titulo_Mercos</name>
        <label>integrar Titulo Mercos</label>
        <locationX>1548</locationX>
        <locationY>434</locationY>
        <actionName>DWMercosTituloBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterTituloNewUpdate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigationTitulo</name>
        <label>NavigationTitulo</label>
        <locationX>1145</locationX>
        <locationY>995</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AtualizarTitulo</name>
        <label>Atualizar Título</label>
        <locationX>890</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>ObterTitulo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterTitulo.Valor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterTitulo.DataVencimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataVencimento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarTituloPreenchido</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bloqueios</name>
        <label>Bloqueios</label>
        <locationX>1133</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>campos_preechimento0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campos preenchidos</defaultConnectorLabel>
        <rules>
            <name>SemPreenchimento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterTitulo.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterTitulo.Conta__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterTitulo.DataVencimento__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterTitulo.Valor__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>campos_preenchimento</targetReference>
            </connector>
            <label>Sem preenchimento</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DW FL Forçar Mercos Títulos Integração {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW FL Forçar Mercos Títulos Integração</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterTitulo</name>
        <label>Obter Titulo</label>
        <locationX>1142</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bloqueios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterTituloNewUpdate</name>
        <label>ObterTituloNewUpdate</label>
        <locationX>1387</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterUltimoHttp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erroFluxo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Titulo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterUltimoHttp</name>
        <label>ObterUltimoHttp</label>
        <locationX>1395</locationX>
        <locationY>847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retorno_integracao</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erroFluxo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Titulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>mercos</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HttpRequestLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarTituloPreenchido</name>
        <label>Atualizar Titulo preenchido</label>
        <locationX>890</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>ScreenAtualizado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erroFluxo</targetReference>
        </faultConnector>
        <inputReference>ObterTitulo</inputReference>
    </recordUpdates>
    <screens>
        <name>campos_preechimento0</name>
        <label>campos preechimento</label>
        <locationX>1389</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>integrar_Titulo_Mercos</targetReference>
        </connector>
        <fields>
            <name>textoExibicao0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Campos que serão integrados com o Mercos:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Número do Título: {!ObterTitulo.Name}&lt;/p&gt;&lt;p&gt;Valor: {!ObterTitulo.Valor__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Data Vencimento: {!ObterTitulo.DataVencimento__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>campos_preenchimento</name>
        <label>campos preenchimento</label>
        <locationX>892</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtualizarTitulo</targetReference>
        </connector>
        <fields>
            <name>textoExibicao</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Campos obrigátorios para a integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Preencha os campos em branco e avançe para finalizar o fluxo. Em seguida clique &lt;strong&gt;novamente &lt;/strong&gt;para realizar a integração.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conta</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Conta__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Titulo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cliente</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Numero</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterTitulo.Name</elementReference>
            </defaultValue>
            <fieldText>Número</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Valor</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>ObterTitulo.Valor__c</elementReference>
            </defaultValue>
            <fieldText>Valor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DataVencimento</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ObterTitulo.DataVencimento__c</elementReference>
            </defaultValue>
            <fieldText>Data de vencimento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>erroFluxo</name>
        <label>erroFluxo</label>
        <locationX>1145</locationX>
        <locationY>669</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigationTitulo</targetReference>
        </connector>
        <fields>
            <name>erroScreen</name>
            <fieldText>&lt;p&gt;Erro ao executar o fluxo:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retorno_integracao</name>
        <label>Retorno integração</label>
        <locationX>1396</locationX>
        <locationY>996</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigationTitulo</targetReference>
        </connector>
        <fields>
            <name>Requisicao</name>
            <fieldText>Requisição Enviada</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Requisicao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>valoreRequisicao</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Requisição:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.RequestBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Retorno_integracao_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Retorno_integracao_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>methodoExecutado</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultimo método executado:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.Method__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;POST&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; = Inclusão&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PUT &lt;/strong&gt;= Atualização&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Status Integração e Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resultadoScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterTituloNewUpdate.StatusIntegracaoMercos__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ultima Resposta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.ResponseBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Headers</name>
            <fieldText>Headers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Headers_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ultimoHeaders</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultimo Headers:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!ObterUltimoHttp.HeadersResponse__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenAtualizado</name>
        <label>ScreenAtualizado</label>
        <locationX>890</locationX>
        <locationY>996</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigationTitulo</targetReference>
        </connector>
        <fields>
            <name>screenAtualizadoDetalhes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Atualizado cliente com sucesso, &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;clique novamente&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; no botão &apos;Forçar Mercos Titulos Integração&apos; para realizara o processo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1015</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ObterTitulo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
