force-app/main/default/flows/EnviarAprovacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnviarAprovacaoAc</name>
        <label>enviar Aprovação Ac</label>
        <locationX>697</locationX>
        <locationY>394</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Realizar_Integracao_SPC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroAoEnviarAprovacao</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>flowConsultSPC</name>
        <label>flowConsultSPC</label>
        <locationX>571</locationX>
        <locationY>451</locationY>
        <actionName>FlowConsultSPC</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EnviarAprovacaoAc</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batch</name>
            <value>
                <stringValue>consultSPC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Verifica_Aprovacao</name>
        <label>Verifica Aprovação</label>
        <locationX>761</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Enviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDProcesso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErroAoEnviarAprovacao_0</targetReference>
            </connector>
            <label>Enviado</label>
        </rules>
        <rules>
            <name>nenviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDProcesso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowConsultSPC</targetReference>
            </connector>
            <label>nenviado</label>
        </rules>
    </decisions>
    <interviewLabel>Aprovação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enviar Aprovação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>conta</name>
        <label>conta</label>
        <locationX>376</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processo_Aprova_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Processo_Aprova_o</name>
        <label>Processo Aprovação</label>
        <locationX>532</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verifica_Aprovacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conta.Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>IDProcesso</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ErroAoEnviarAprovacao</name>
        <label>Erro ao enviar para Aprovação</label>
        <locationX>910</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>messageError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErroAoEnviarAprovacao_0</name>
        <label>Erro ao enviar para Aprovação</label>
        <locationX>1005</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>messageError_0</name>
            <fieldText>&lt;p&gt;O processo já foi enviado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Tentativa de integração executada com sucesso.</description>
        <name>Realizar_Integracao_SPC</name>
        <label>Realizar Integração SPC</label>
        <locationX>918</locationX>
        <locationY>258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MensagemSucesso</name>
            <fieldText>&lt;p&gt;Enviado para aprovação com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>conta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IDProcesso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
