force-app/main/default/flows/FlForcarPreIntegracao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>chamar_integracao_Pre_Conta</name>
        <label>chamar integração Pre Conta</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <actionName>DWPreAccountIntegrableBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterContaNewUpdate</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>navigationAccount</name>
        <label>navigationAccount</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>atualizarConta</name>
        <label>atualizarConta</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.Nome_Abreviado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeAbreviado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Documento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CEP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rua</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.BairroCobranca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeConta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.tipo_pessoa_conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TipoPessoaConta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>atualizarContaPIntegracao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>bloqueios</name>
        <label>bloqueios</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>chamar_integracao_Pre_Conta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>campos preenchido</defaultConnectorLabel>
        <rules>
            <name>CodERPPreenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.CodigoERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ScreenCodERP</targetReference>
            </connector>
            <label>Cod ERP Preenchido</label>
        </rules>
        <rules>
            <name>semPreenchimento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BairroCobranca__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingState</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.Nome_Abreviado__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.BillingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.tipo_pessoa_conta__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.Type</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>campos_preenchimento</targetReference>
            </connector>
            <label>Sem preenchimento</label>
        </rules>
    </decisions>
    <description>Aqui ira acionar a classe DWPreAccountIntegrableBatch.
Essa classe ira executar e ira criar um registro no ERP com minimo de informação possivel para que a INTEGRAÇÃO DE COTAÇÃO possa funcionar.
Dessa forma para que a integração de cotação funcione a integração pré conta precisa acontecer.</description>
    <dynamicChoiceSets>
        <name>tipoConta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipoPessoaContaValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>tipo_pessoa_conta__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Fl Forçar Pré Integração {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fl Forçar Pré Integração</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterConta</name>
        <label>ObterConta</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bloqueios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterContaNewUpdate</name>
        <label>ObterContaNewUpdate</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterUltimoHttp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterUltimoHttp</name>
        <label>ObterUltimoHttp</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retorno_integracao</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HttpRequestLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualizarContaPIntegracao</name>
        <label>atualizarContaPIntegracao</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>screenAtualizado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowError</targetReference>
        </faultConnector>
        <inputReference>ObterConta</inputReference>
    </recordUpdates>
    <screens>
        <name>campos_preenchimento</name>
        <label>campos preenchimento</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>atualizarConta</targetReference>
        </connector>
        <fields>
            <name>textoExibicao</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Campos obrigátorios para a integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Preencha os campos em branco e avançe para finalizar o fluxo. Em seguida clique &lt;strong&gt;novamente &lt;/strong&gt;para realizar a integração.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Name</elementReference>
            </defaultValue>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NomeAbreviado</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Nome_Abreviado__c</elementReference>
            </defaultValue>
            <fieldText>Nome Abreviado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Documento</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Documento__c</elementReference>
            </defaultValue>
            <fieldText>Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TipoPessoaConta</name>
            <choiceReferences>tipoPessoaContaValue</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.tipo_pessoa_conta__c</elementReference>
            </defaultValue>
            <fieldText>Tipo pessoa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeConta</name>
            <choiceReferences>tipoConta</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterConta.Type</elementReference>
            </defaultValue>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>campos_preenchimento_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>campos_preenchimento_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CEP</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Rua</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Rua</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Insira o endereço no seguinte padrão: Rua de Tal, 999, loja 2, Bairro de Tal&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Bairro</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BairroCobranca__c</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cidade</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingCity</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Estado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ObterConta.BillingState</elementReference>
                    </defaultValue>
                    <fieldText>Estado</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowError</name>
        <label>Flow Error</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>erroScreen</name>
            <fieldText>&lt;p&gt;Erro ao executar o fluxo:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retorno_integracao</name>
        <label>Retorno integração</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>StatusIntegracao</name>
            <fieldText>Status Integração</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>StatusIntegracao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StatusIntegracaoScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Status integração:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterContaNewUpdate.StatusIntegracao__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resultadoScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Resposta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterUltimoHttp.ResponseBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenAtualizado</name>
        <label>screenAtualizado</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>screenAtualizadoDetalhes</name>
            <fieldText>&lt;p&gt;Atualizado cliente com sucesso, &lt;strong&gt;clique novamente&lt;/strong&gt; no botão &apos;Forçar Pré Integração&apos; para realizara o processo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenCodERP</name>
        <label>ScreenCodERP</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigationAccount</targetReference>
        </connector>
        <fields>
            <name>TextERp</name>
            <fieldText>&lt;p&gt;Essa conta já está integrada.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Código ERP: {!ObterConta.CodigoERP__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Essa ação é somente para o pré cadastro no ERP. Se desejar alterar o registro utilize o botão &lt;strong&gt;Forçar integração.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
