force-app/main/default/flows/FlIntegracaoBuscaXMLpeloNF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>C_pia_1_de_redirecionadoConta</name>
        <label>Cópia 1 de redirecionadoConta</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>consultaBuscarXml</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>consultaBuscarXml</name>
        <label>consulta buscar xml</label>
        <locationX>512</locationX>
        <locationY>1034</locationY>
        <actionName>DWGetXMLByNFBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterHttpRequest</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>redirecionadoConta</name>
        <label>redirecionadoConta</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>consultaBuscarXml</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ObterConta.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>attrNf</name>
        <label>attrNf</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ObterNf.Serie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serie</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterNf.CodigoERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodigoERP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>atualizarNf</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>integracaoRealizada</name>
        <label>integracaoRealizada</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>consultaBuscarXml</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterNf.StatusIntegracaoXML__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executado com sucesso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exibicaoScreen</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>parametrosIntegrado</name>
        <label>parametrosIntegrado</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>integracaoRealizada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tudo certo</defaultConnectorLabel>
        <rules>
            <name>contaNaoIntegrada</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.CodigoERP__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterConta.CodigoERP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CamposObrIntegracaoConta</targetReference>
            </connector>
            <label>ContaNaoIntegrada</label>
        </rules>
        <rules>
            <name>NFNaoIntegrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterNf.CodigoERP__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterNf.CodigoERP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campos_Obr_Integracao_NF</targetReference>
            </connector>
            <label>NF não integrada</label>
        </rules>
        <rules>
            <name>Nf_faltou_alguns_campos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterNf.Serie__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterNf.Serie__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterNf.CodigoERP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Consulta_NF</targetReference>
            </connector>
            <label>Nf faltou alguns campos</label>
        </rules>
    </decisions>
    <description>Fluxo para buscar xml pela nota fiscal usando a API.</description>
    <dynamicChoiceSets>
        <name>listTipoOperacao</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoOperacao__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Fl Integração Busca XML pelo NF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fl Integração Busca XML pelo NF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterAtualizadoCotacao</name>
        <label>ObterAtualizadoCotacao</label>
        <locationX>512</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RetornoIntegracao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterConta</name>
        <label>ObterConta</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>parametrosIntegrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterNf.Conta__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterHttpRequest</name>
        <label>Obter HttpRequest</label>
        <locationX>512</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterAtualizadoCotacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NotaFiscal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HttpRequestLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterNf</name>
        <label>ObterNf</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotaFiscal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>atualizarNf</name>
        <label>atualizarNf</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>C_pia_1_de_redirecionadoConta</targetReference>
        </connector>
        <inputReference>ObterNf</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Campos_Obr_Integracao_NF</name>
        <label>Campos Obr Integracao NF</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C_pia_1_de_redirecionadoConta</targetReference>
        </connector>
        <fields>
            <name>C_pia_1_de_IntegracaoConta</name>
            <fieldText>&lt;p&gt;A nf &lt;strong&gt;{!ObterNf.Name} &lt;/strong&gt;não possui código ERP, por favor, realize a integração da nota fiscal ou preencha o campo Código ERP para que a integração de busca da XML possa acontecer.&lt;/p&gt;&lt;p&gt;Você será &lt;strong&gt;direcionado &lt;/strong&gt;ao registro nota fiscal.&lt;/p&gt;&lt;p&gt;A nota fiscal é integrada com base na conta e pedido, então verifique se a conta e pedido estão integrados no ERP.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CamposObrIntegracaoConta</name>
        <label>Campos Obr Integracao Conta</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>redirecionadoConta</targetReference>
        </connector>
        <fields>
            <name>IntegracaoConta</name>
            <fieldText>&lt;p&gt;A conta &lt;strong&gt;{!ObterConta.Name} &lt;/strong&gt;não possui código ERP, por favor, realize a integração da conta ou preencha o campo Código ERP para que a integração de busca XML possa acontecer.&lt;/p&gt;&lt;p&gt;Você será &lt;strong&gt;direcionado &lt;/strong&gt;a conta para realizar a integração ou o preenchimento do campo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>exibicaoScreen</name>
        <label>exibicaoScreen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>C_pia_1_de_redirecionadoConta</targetReference>
        </connector>
        <fields>
            <name>sucesso</name>
            <fieldText>&lt;p&gt;A integração de buscar XML do ERP já aconteceu com &lt;strong&gt;sucesso&lt;/strong&gt;, clique na seção do registro &lt;strong&gt;Visualizar XML&lt;/strong&gt; para ver o arquivo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RetornoIntegracao</name>
        <label>RetornoIntegracao</label>
        <locationX>512</locationX>
        <locationY>1394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Resultado</name>
            <fieldText>Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResultadoAPi</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Ultima Resposta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ObterHttpRequest.ResponseBody__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Consulta_NF</name>
        <label>Screen Consulta NF</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>attrNf</targetReference>
        </connector>
        <fields>
            <name>camposparaintegracaonf</name>
            <fieldText>&lt;p&gt;Para a consulta do XML acontecer será preciso dos seguintes campos preenchidos para essa nota fiscal &lt;strong&gt;{!ObterNf.Name}:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Após preencher essas informações , use o botão novamente para buscar o XML do ERP.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CodigoERP</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterNf.CodigoERP__c</elementReference>
            </defaultValue>
            <fieldText>Código ERP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serie</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ObterNf.Serie__c</elementReference>
            </defaultValue>
            <fieldText>Série</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterNf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>attrQuoteLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>listProduct2forUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>product2ForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>quoteLineItemAtt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
