force-app/main/default/flows/Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>att_lpe</name>
        <label>att lp</label>
        <locationX>572</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>ContaS.ItemDuplicado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContaS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>att_lp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Att_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Att_new</name>
        <label>Att new</label>
        <locationX>573</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>NewAccountColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContaS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>att_lp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>nulo</name>
        <label>é nulo</label>
        <locationX>191</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>att_lp</targetReference>
            </connector>
            <label>nao</label>
        </rules>
    </decisions>
    <interviewLabel>Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow</label>
    <loops>
        <name>att_lp</name>
        <label>att lp</label>
        <locationX>352</locationX>
        <locationY>420</locationY>
        <collectionReference>AccountColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>att_lpe</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Att_contas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtendo_Contas</name>
        <label>Obtendo Contas</label>
        <locationX>202</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nulo</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Documento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Documento__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.Documento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Documento__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Documento__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ItemDuplicado__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Att_contas</name>
        <label>Att contas</label>
        <locationX>364</locationX>
        <locationY>640</locationY>
        <inputReference>NewAccountColl</inputReference>
    </recordUpdates>
    <start>
        <locationX>76</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Obtendo_Contas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Documento__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-01-07</startDate>
            <startTime>17:24:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContaS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewAccountColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
