force-app/main/default/flows/Flow_After_Conta_Criacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>verificacaoContaConvertida</name>
        <label>verificacaoContaConvertida</label>
        <locationX>163</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>attEnderecoEntrega_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Convertida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Foi_Convertido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>attEnderecoEntrega</targetReference>
            </connector>
            <label>éConvertida</label>
        </rules>
    </decisions>
    <description>Na conversão, coloca os campos de endereço de cobrança nos campos de endereço de entrega</description>
    <interviewLabel>Flow After Conta - Criação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow After Conta - Criação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>attEnderecoEntrega</name>
        <label>attEnderecoEntrega</label>
        <locationX>165</locationX>
        <locationY>658</locationY>
        <inputAssignments>
            <field>AutomacaoReceita__c</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomacaoSimples__c</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomacaoSintegra__c</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>attEnderecoEntrega_0</name>
        <label>attEnderecoEntrega</label>
        <locationX>439</locationX>
        <locationY>427</locationY>
        <inputAssignments>
            <field>AutomacaoReceita__c</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomacaoSimples__c</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomacaoSintegra__c</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>verificacaoContaConvertida</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
