force-app/main/default/flows/Forcar_integracoes_pedido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BatchSyncFlowController</name>
        <label>BatchSyncFlowController</label>
        <locationX>412</locationX>
        <locationY>339</locationY>
        <actionName>BatchSyncFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sucesso</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Falha</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batch</name>
            <value>
                <elementReference>QualIntegracao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>OrderIntegrableBatch</name>
        <choiceText>Pedido (enviar criação de pedido do Salesforce para o ERP)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OrderIntegrableBatch</stringValue>
        </value>
    </choices>
    <interviewLabel>Forçar integrações (pedido) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Forçar integrações (pedido)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>BotaoIntegrar</name>
        <label>Botão Integrar</label>
        <locationX>180</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BatchSyncFlowController</targetReference>
        </connector>
        <fields>
            <name>QualIntegracao</name>
            <choiceReferences>OrderIntegrableBatch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qual integração deseja forçar?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Falha</name>
        <label>Falha</label>
        <locationX>527</locationX>
        <locationY>540</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemSucesso_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucesso</name>
        <label>Sucesso.</label>
        <locationX>609</locationX>
        <locationY>327</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemSucesso</name>
            <fieldText>&lt;p&gt;Tentativa de integração executada com sucesso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>BotaoIntegrar</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
