force-app/main/default/flows/ItemNotaFiscal_Before_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Atribui_Codigo_ERP</name>
        <label>Atribui Código ERP</label>
        <locationX>1016</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>$Record.CodigoERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCodigoERP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insere_Produto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_codigo_produto_ERP_no_Produto_selecionado</name>
        <label>Atribui código produto ERP no Produto selecionado</label>
        <locationX>528</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>$Record.CodigoProdutoERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Produto__r.ProductCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Atribuir_Produto</name>
        <label>Atribuir Produto</label>
        <locationX>1190</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>$Record.Produto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Produto.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Em vista do ERP não retornar um ID para o item, definimos como uma fórmula:
NotaFiscal__c.CodigoERP__c + &apos;_item_&apos; + record.ItemNota__c</description>
        <name>Insere_Codigo_ERP_F_rmula</name>
        <label>Insere Código ERP Fórmula</label>
        <locationX>768</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>Insere_Produto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Se_ainda_nao_tem_codigo_ERP</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CodigoERP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodigoERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NotaFiscal__r.CodigoERP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NotaFiscal__r.CodigoERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ItemNota__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ItemNota__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Codigo_ERP</targetReference>
            </connector>
            <label>Se ainda não tem código ERP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insere_Produto</name>
        <label>Insere Produto</label>
        <locationX>767</locationX>
        <locationY>545</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Se_alterou_codigo_produto_ERP</name>
            <conditionLogic>((1 OR 2) AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Produto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Produto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodigoProdutoERP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodigoProdutoERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodigoProdutoERP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Produto</targetReference>
            </connector>
            <label>Se alterou código produto ERP</label>
        </rules>
        <rules>
            <name>Se_alterou_manualmente_o_Produto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Produto__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_codigo_produto_ERP_no_Produto_selecionado</targetReference>
            </connector>
            <label>Se alterou manualmente o Produto</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaCodigoERP</name>
        <dataType>String</dataType>
        <expression>{!$Record.NotaFiscal__r.CodigoERP__c} + &apos;_item_&apos; + {!$Record.ItemNota__c}</expression>
    </formulas>
    <interviewLabel>Item da Nota Fiscal - Flow before - Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Item da Nota Fiscal - Flow before - Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Produto</name>
        <label>Obter Produto</label>
        <locationX>1073</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuir_Produto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CodigoProdutoERP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Insere_Codigo_ERP_F_rmula</targetReference>
        </connector>
        <object>ItemNotaFiscal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
