force-app/main/default/flows/NotaFiscal_Before_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Atribui_c_digo_conta_ERP_na_Conta_selecionada</name>
        <label>Atribui código conta ERP na Conta selecionada</label>
        <locationX>490</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>$Record.CodigoContaERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Conta__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Atribui_Codigo_ERP_Condicao_de_Pagamento_selecionada</name>
        <label>Atribui código ERP Condição de Pagamento selecionada</label>
        <locationX>539</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>$Record.CodigoCondicaoPagamentoERP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CondicaoPagamento__r.CodigoERP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insere_Conta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Condicao_de_Pagamento</name>
        <label>Atribui Condição de Pagamento</label>
        <locationX>1155</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>$Record.CondicaoPagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Condicao_de_pagamento.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insere_Conta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Conta</name>
        <label>Atribui Conta</label>
        <locationX>1181</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>$Record.Conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Insere_condicao_de_pagamento</name>
        <label>Insere condição de pagamento</label>
        <locationX>768</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Insere_Conta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Se_alterou_codigo_ERP</name>
            <conditionLogic>((1 OR 2) AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CondicaoPagamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CondicaoPagamento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodigoCondicaoPagamentoERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodigoCondicaoPagamentoERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CodigoCondicaoPagamentoERP__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Condicao_de_pagamento</targetReference>
            </connector>
            <label>Se alterou codigo ERP</label>
        </rules>
        <rules>
            <name>Se_alterou_manualmente_a_Condi_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CondicaoPagamento__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Codigo_ERP_Condicao_de_Pagamento_selecionada</targetReference>
            </connector>
            <label>Se alterou manualmente a Condição</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insere_Conta</name>
        <label>Insere Conta</label>
        <locationX>768</locationX>
        <locationY>593</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Se_alterou_codigo_conta_ERP</name>
            <conditionLogic>((1 OR 2) AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Conta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodigoContaERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodigoContaERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CodigoContaERP__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Conta</targetReference>
            </connector>
            <label>Se alterou código conta ERP</label>
        </rules>
        <rules>
            <name>Se_alterou_manualmente_a_Condi_o_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conta__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_c_digo_conta_ERP_na_Conta_selecionada</targetReference>
            </connector>
            <label>Se alterou manualmente a Conta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Nota Fiscal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nota Fiscal - Flow before - Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Condicao_de_pagamento</name>
        <label>Obter Condição de pagamento</label>
        <locationX>1009</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_Condicao_de_Pagamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CodigoERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CodigoCondicaoPagamentoERP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CondicaoPagamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Conta</name>
        <label>Obter Conta</label>
        <locationX>1045</locationX>
        <locationY>603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CodigoERP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CodigoContaERP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Insere_condicao_de_pagamento</targetReference>
        </connector>
        <object>NotaFiscal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
