force-app/main/default/flows/Novo_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BuscarReceitaFederalSintegra</name>
        <label>Buscar dados da Receita Federal no Sintegra</label>
        <locationX>197</locationX>
        <locationY>224</locationY>
        <actionName>DW_SintegraWSServiceFlowRF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CNPJ_trouxe_resultado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cnpj</name>
            <value>
                <elementReference>DigiteOCNPJ</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NavegarConta</name>
        <label>Navegar pra conta</label>
        <locationX>782</locationX>
        <locationY>222</locationY>
        <actionName>c:NavigationObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Lead</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CNPJ_trouxe_resultado</name>
        <label>CNPJ trouxe resultado?</label>
        <locationX>372</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>errorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TrouxeResultado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarReceitaFederalSintegra.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscarReceitaFederalSintegra.status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead</targetReference>
            </connector>
            <label>Trouxe resultado</label>
        </rules>
    </decisions>
    <description>Add campos referente a receita federal - Willian Levandoski - 30/11/21</description>
    <formulas>
        <name>ComplementoForm</name>
        <dataType>String</dataType>
        <expression>LEFT({!BuscarReceitaFederalSintegra.complemento},50)</expression>
    </formulas>
    <formulas>
        <name>formReceita</name>
        <dataType>String</dataType>
        <expression>LEFT({!BuscarReceitaFederalSintegra.logradouro} &amp; &apos;, &apos; &amp; {!BuscarReceitaFederalSintegra.numero} &amp;&apos; , &apos; &amp; IF({!ComplementoForm} &lt;&gt; null &amp;&amp; NOT(CONTAINS({!ComplementoForm},&quot;*&quot;)) , {!ComplementoForm}, &apos;S/N&apos;) &amp;  &apos;, &apos; &amp; {!BuscarReceitaFederalSintegra.bairro}, 80)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Novo Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar Lead rápido Sintegra WS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>592</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>NavegarConta</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>DigiteOCNPJ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CapitalSocial_c__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.capital_social</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.municipio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <stringValue>Brasil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAberturaEmpresa__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.abertura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NaturezaIntegracao_c__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
        </inputAssignments>
        <inputAssignments>
            <field>Porte__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.porte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.cep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sigla_natureza_juridica__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.sigla_natureza_juridica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situacao__c</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.situacao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>BuscarReceitaFederalSintegra.uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em aberto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>formReceita</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CriarConta</name>
        <label>CriarConta</label>
        <locationX>51</locationX>
        <locationY>227</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BuscarReceitaFederalSintegra</targetReference>
        </connector>
        <fields>
            <name>DigiteOCNPJ</name>
            <dataType>String</dataType>
            <fieldText>Digite o CNPJ</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>infoCriarConta</name>
            <fieldText>&lt;p&gt;*Para criar uma conta, insira o &lt;b&gt;CNPJ &lt;/b&gt;acima para realizar a consulta na receita federal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>287</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>naoExisteCNPJ</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Validação&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Não existe dados para este CNPJ informado, troque-o para um existente.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen_0</name>
        <label>errorScreen</label>
        <locationX>601</locationX>
        <locationY>448</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>naoExisteCNPJ_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CriarConta</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
